<font face="calibri" size="3">
Dear [c.lookers_title] [c.firstname] [c.lastname],
<br /><br />
Your Reference No. [lookers_refno]    
<br />

<br />I would like to introduce myself, my name is Paul Craft and I am the Sales Support Team Manager for Lookers.<br />

<br />[ownerid] has been endeavouring to reach you regarding your enquiry. If you have already replied and this email reaches you afterwards then please ignore this email and accept my apologies for you receiving it.<br />

<br />Should you still require our assistance and remain in the market for a new vehicle we are here to help and ensure your enquiry is looked after. If you have been unable to reply, is there an alternative number or preferred time for [ownerid] to contact you?<br />

<br />If you have already purchased a vehicle or no longer require our assistance I would appreciate you letting me know.<br />

<br />You can reach me directly on [d.lookers_telephonenumberbdc] or alternatively <a href=mailto:paulcraft@lookers.co.uk>paulcraft@lookers.co.uk</a>.<br />

    <br />
<br />
Kind regards,<br />
<br /><br />
Paul Craft
<br /><br />
Sales Support Manager<br />

Lookers Sales Support Team
<br /><br />
[d.lookers_telephonenumberbdc]
    <br /><br />
<a href=mailto:paulcraft@lookers.co.uk>paulcraft@lookers.co.uk</a>
<br /><br />
<a href="www.lookers.co.uk">www.lookers.co.uk</a>
<br /><br />


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" /></a></td>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VauxhallEmail" /></a></td>
    </tr>
    </table>
<br /><br />


<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />
Telephone: [d.lookers_telephonenumber]
    <br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Monday-Friday:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

Click here for offers: <br />
<br />
<a href="www.lookers.co.uk/vauxhall/offers/">www.lookers.co.uk/vauxhall/offers/</a><br />

</font>