<font face="calibri" size="3">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="right" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/AudiRings.jpg">
            </td>
        </tr>
    </table>
    Dear [c.lookers_title] [c.lastname],
    <br />
    <br />Thank you for your enquiry on the [lookers_makeid] [lookers_modelid], [lookers_vehicleregistration].
    (Insert specific response to customer's enquiry using positive language AND compliment their choice - e.g with regards
    to the A5 coupe the mileage is 42,800, great choice as this car looks stunning in Daytona Grey with the 19inch wheels).
    <br />
    <br />We'd like to invite you to visit us at [d.lookers_displayname] where you will be able to explore first-hand
    the high standard of vehicle presentation, unique drive quality and premium experience provided by our Centre.
    <br />
    <br />I'll give you a call to answer any questions, arrange your visit and discuss any part exchange vehicle you may have.
    In the meantime, you can reach me directly on [d.lookers_telephonenumber] (select option for New or Used sales enquiries) or reply to my email at your convenience.
    <br />
    <br />I look forward to hearing from you.
    <br />
    <br />Yours sincerely,
    <br />
    <br /><strong>[cu.fullname]</strong>
    <br />
    <br />Audi Sales Support
    <br />
    <br />E:
    <a href="mailto: [cu.internalemailaddress]">[cu.internalemailaddress]</a>
    <br />
    <br />
    <a href="http://www.Lookers.co.uk/Audi">www.Lookers.co.uk/Audi</a>
    <br />
    <br />[d.lookers_displayname], [d.lookers_dealershipaddress], T: [d.lookers_telephonenumber] (select option for New or Used sales enquiries)
</font>