<font face="calibri" size="3">
Dear [c.lookers_title] [c.firstname] [c.lastname],
<br /><br />
Your Reference No. [lookers_refno]    
<br />
    <br />I have been trying to contact you over the past couple of weeks, unfortunately without much success.<br />

<br />I appreciate that you may be busy so this is just to let you know that if I can help in any way, please feel free to call me on the number below or by replying to this email.<br />

<br />If you no longer require my help, could you let me know so I may close your enquiry?<br />



    <font face="calibri" size="3">
<br />
<br />
Kind regards,<br />
<br /><br />
[ou.fullname]
<br /><br />
[ou.title]<br />

Lookers Sales Support Team
<br /><br />
[d.lookers_telephonenumberbdc]
    <br /><br />
[ou.internalemailaddress]
<br /><br />
<a href="www.lookers.co.uk">www.lookers.co.uk</a>
<br /><br />


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" /></a></td>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VauxhallEmail" /></a></td>
    </tr>
    </table>
<br /><br />


<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />

    <br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Monday-Friday:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

Click here for offers: <br />
<br />
<a href="www.lookers.co.uk/vauxhall/offers/">www.lookers.co.uk/vauxhall/offers/</a><br />

</font>


</font>