<html><head>
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.components.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">

        app.controller("CrmSelectAddressController", function ($scope, $http, CrmWebResourceAppUtils) {

            $scope.addressOptions = JSON.parse(sessionStorage.getItem("loqateResults"));

            $scope.selectAddress = function (add) {
                Mscrm.Utilities.setReturnValue(add);
                closeWindow(true);
            };
        });
    </script>
    <style>
        body {
            overflow: auto;
        }

        table {
            margin: 25px 10px 0 10px;
            width: 450px !important;
        }

        tr {
            line-height: 20px !important;
            border-bottom: 1px solid #eee;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
        }

        td, th {
            white-space: nowrap;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
        }
    </style>
<meta></head>
<body>
    <div ng-app="CrmWebResourceApp">
        <div ng-controller="CrmSelectAddressController">
            <h1 class="ms-font-xl ms-fontColor-themeDark">Select Address</h1>
            <table class="ms-Table">
                <tbody>
                    <tr ng-repeat="add in addressOptions" ng-click="selectAddress(add)">
                        <td><a class="ms-Link ms-fontWeight-semibold" href="#" ng-click="selectAddress(add)">{{add.Address}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body></html>