<font face="calibri" size="3">
    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />YOUR MESSAGE HERE.<br />
    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Business Development Centre<br />
Mercedes-Benz and Smart<br />
Tel: [d.lookers_telephonenumberbdc]<br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer1.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer2.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer3.png" /><br />
</font>