<html>
<head>
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">

        app.controller("CrmDeceasedConfirmController", function ($scope, $http, CrmWebResourceAppUtils) {

            // Get Customer Name
            $scope.customerName = CrmWebResourceAppUtils.getUrlParams().Data;

            // Define function to return confirmation to set Deceased
            $scope.closeDialog = function (returnValue) {
                Mscrm.Utilities.setReturnValue(returnValue);
                closeWindow(true);
            };

        });
    </script>
    <style>
        body {
            overflow: auto;
        }

        td, th {
            padding: 0px 10px 10px 0px;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="ms-Fabric ms-font-m" ng-app="CrmWebResourceApp">
        <div ng-controller="CrmDeceasedConfirmController">
            <h1 class="ms-font-xl ms-fontColor-themeDark">Customer Deceased</h1>
            <p>Are you sure that you want to record <strong>{{customerName}}</strong> as Deceased?</p>
            <div style="padding-top:20px; text-align:right">
                <button class="ms-Button ms-Button--primary" ng-click="closeDialog(true)">
                    <span class="ms-Button-label">Yes</span>
                </button>
                <button class="ms-Button" ng-click="closeDialog(false)">
                    <span class="ms-Button-label">No</span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>