<font face="calibri" size="3">
Dear [c.lookers_title] [c.firstname] [c.lastname],
<br /><br />
Your Reference No. [lookers_refno]    
<br />

<br />We recently made contact with you regarding your enquiry, and unfortunately I didn't receive your response.<br />

<br />Should you require any further information, please reply to me direct, and I will personally ensure your enquiry is looked after, my number is [d.lookers_telephonenumberbdc] or feel free to reply this email at your convenience.<br />

<br />If it is inconvenient to reply, do you have a preferred time for me to call, or an alternative number?<br />

<br />However, if my assistance is no longer required, could you please let me know so I may close your enquiry.<br />

<br />I look forward to hearing back from you.<br />

    <font face="calibri" size="3">
<br />
<br />
Kind regards,<br />
<br /><br />
[ou.fullname]
<br /><br />
[ou.title]<br />

Lookers Sales Support Team
<br /><br />
[d.lookers_telephonenumberbdc]
    <br /><br />
[ou.internalemailaddress]
<br /><br />
<a href="www.lookers.co.uk">www.lookers.co.uk</a>
<br /><br />


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" /></a></td>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VauxhallEmail" /></a></td>
    </tr>
    </table>
<br /><br />


<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />

    <br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Monday-Friday:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

Click here for offers: <br />
<br />
<a href="www.lookers.co.uk/vauxhall/offers/">www.lookers.co.uk/vauxhall/offers/</a><br />

</font>


</font>