<head>
    <style type="text/css">
        .auto-style1 {
            width: 424px;
        }
    </style>
</head>
<font face="calibri" size="3">
    Dear [c.lookers_title] [c.firstname] [c.lastname],<br />


    <br />[mb.lookers_logourl]<br />
    <br />
    <img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" />
    <br />
    <br />Your preferences for [lookers_marketingbrand] have changed been changed to:<br />
    <br />
    <h2>Your Vehicle's Health</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <tr>
            <th align="left" valign="top" width="200">Email</th>
            <td class="auto-style1">[lookers_yourvehicleshealthemail] </td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Post</th>
            <td class="auto-style1">[lookers_yourvehicleshealthpost] </td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">SMS</th>
            <td class="auto-style1">[lookers_yourvehicleshealthsms] </td>
        </tr>
                <tr>
            <th align="left" valign="top" width="200">Telephone</th>
            <td class="auto-style1">[lookers_yourvehicleshealthtelephone] </td>
            </td>
        </tr>
    </table>

        <h2>Exclusive Offers</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <tr>
            <th align="left" valign="top" width="200">Email</th>
            <td class="auto-style1">[lookers_exclusiveoffersemail] </td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Post</th>
            <td class="auto-style1">[lookers_exclusiveofferspost] </td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">SMS</th>
            <td class="auto-style1">[lookers_exclusiveofferssms] </td>
        </tr>
                <tr>
            <th align="left" valign="top" width="200">Telephone</th>
            <td class="auto-style1">[lookers_exclusiveofferstelephone] </td>
            </td>
        </tr>
    </table>

        <h2>News & Events</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <tr>
            <th align="left" valign="top" width="200">Email</th>
            <td class="auto-style1">[lookers_newseventsemail] </td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Post</th>
            <td class="auto-style1">[lookers_newseventspost] </td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">SMS</th>
            <td class="auto-style1">[lookers_newseventssms] </td>
        </tr>
                <tr>
            <th align="left" valign="top" width="200">Telephone</th>
            <td class="auto-style1">[lookers_newseventstelephone] </td>
            </td>
        </tr>
    </table>


        
    <br />
    <br />Need to update your preferenced?<br />
    <br />Link to portal<br />
    <br />

</font>