<html>
<head>
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">

        app.controller("CrmQueueConfirmController", function ($scope, $http, CrmWebResourceAppUtils) {

            // Determine if action is Pick or Route
            var urlParams = CrmWebResourceAppUtils.getUrlParams();
            $scope.isPick = urlParams.Data == "pick"

            // Read serialised data from session
            $scope.selectedItems = JSON.parse(sessionStorage.getItem("selectedqueueitems"));
            $scope.routeUsers = $scope.isPick ? null : JSON.parse(sessionStorage.getItem("queuerouteusers"));
            debugger;

            // Count Leads and Emails
            $scope.leadCount = 0;
            $scope.emailCount = 0;
            for (var i = 0; i < $scope.selectedItems.length; i++) {
                switch ($scope.selectedItems[i].TypeName) {
                    case "lead":
                        $scope.leadCount++;
                        break;
                    case "email":
                        $scope.emailCount++;
                        break;
                }
            }

            // Define function to return selected User ID
            $scope.closeDialog = function (returnValue) {
                Mscrm.Utilities.setReturnValue(returnValue);
                closeWindow(true);
            };

            // https://dev.office.com/fabric-js/Components/Dropdown/Dropdown.html
            if (!$scope.isPick) {
                setTimeout(() => {
                    var DropdownHTMLElements = document.querySelectorAll('.ms-Dropdown');
                    for (var i = 0; i < DropdownHTMLElements.length; ++i) {
                        var Dropdown = new fabric['Dropdown'](DropdownHTMLElements[i]);
                    }
                }, 500);
            }
        });
    </script>
    <style>
        body {
            overflow: auto;
        }

        td, th {
            padding: 0px 10px 10px 0px;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="ms-Fabric ms-font-m" ng-app="CrmWebResourceApp">
        <div ng-controller="CrmQueueConfirmController">
            <div ng-show="isPick">
                <h1 class="ms-font-xl ms-fontColor-themeDark">Pick Queue Item</h1>
                <div ng-switch on="selectedItems[0].TypeName">
                    <div ng-switch-when="lead">
                        <div class="ms-MessageBar ms-MessageBar--warning" style="width: 97%">
                            <div class="ms-MessageBar-content">
                                <div class="ms-MessageBar-icon">
                                    <img src="/_imgs/ico_16_4.gif" style="padding-top: 5px" />
                                </div>
                                <div class="ms-MessageBar-text">
                                    <p class="ms-font-l" style="margin-bottom: 5px">{{selectedItems[0].Name}}</p>
                                    <p style="margin-top: 5px">This Lead will be assigned to you and removed from the Queue.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="email">
                        <div class="ms-MessageBar ms-MessageBar--warning" style="width: 97%">
                            <div class="ms-MessageBar-content">
                                <div class="ms-MessageBar-icon">
                                    <img src="/_imgs/ico_16_4202.gif" style="padding-top: 5px" />
                                </div>
                                <div class="ms-MessageBar-text">
                                    <p class="ms-font-l" style="margin-bottom: 5px">"{{selectedItems[0].Name}}"</p>
                                    <p style="margin-top: 5px">A new Lead will be created and assigned to you. This Email will be added to the Activities grid on the Lead, and removed from the Queue.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top:20px; text-align:right">
                        <button class="ms-Button ms-Button--primary" ng-click="closeDialog(true)">
                            <span class="ms-Button-label">OK</span>
                        </button>
                        <button class="ms-Button" ng-click="closeDialog(null)">
                            <span class="ms-Button-label">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
            <div ng-show="!isPick">
                <h1 class="ms-font-xl ms-fontColor-themeDark">Route Queue Items</h1>
                <table class="ms-font-m">
                    <tr>
                        <td><img src="/_imgs/ico_16_4.gif" style="vertical-align:middle" /></td>
                        <td>Leads:</td>
                        <td style="padding-right:20px">{{leadCount}}</td>
                        <td><img src="/_imgs/ico_16_4202.gif" style="vertical-align:middle" /></td>
                        <td>Emails:</td>
                        <td>{{emailCount}}</td>
                    </tr>
                </table>
                <p>Choose which User the selected Leads and Emails will be assigned to:</p>
                <div class="ms-Dropdown">
                    <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--ChevronDown"></i>
                    <select class="ms-Dropdown-select" ng-model="selectedUser">
                        <option></option>
                        <option ng-repeat="user in routeUsers" value="{{user.systemuserid}}">
                            {{user.fullname}}
                        </option>
                    </select>
                </div>
                <div style="padding-top:20px; text-align:right">
                    <button class="ms-Button ms-Button--primary" ng-click="closeDialog(selectedUser)">
                        <span class="ms-Button-label">OK</span>
                    </button>
                    <button class="ms-Button" ng-click="closeDialog(null)">
                        <span class="ms-Button-label">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>