<html>
<head>
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.components.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">

        app.controller("CrmSelectTemplateController", function ($scope, $http, CrmWebResourceAppUtils) {

            var params = CrmWebResourceAppUtils.getUrlParams();

            $scope.templates = JSON.parse(sessionStorage.getItem("emailtemplates_" + params.id));

            $scope.selectTemplate = function (templateId) {
                Mscrm.Utilities.setReturnValue(templateId);
                closeWindow(true);
            };
        });
    </script>
    <style>
        body {
            overflow: auto;
        }

        table {
            margin: 25px 10px 0 10px;
            width: 450px !important;
        }

        tr {
            line-height: 20px !important;
            border-bottom: 1px solid #eee;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
        }

        td, th {
            white-space: nowrap;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
        }
    </style>
</head>
<body>
    <div ng-app="CrmWebResourceApp">
        <div ng-controller="CrmSelectTemplateController">
            <h1 class="ms-font-xl ms-fontColor-themeDark">Select Template</h1>
            <table class="ms-Table">
                <tbody>
                    <tr ng-repeat="template in templates" ng-click="selectTemplate(template.lookers_emailtemplateid)">
                        <td><a class="ms-Link ms-fontWeight-semibold" href="#" ng-click="selectTemplate(template.lookers_emailtemplateid)">{{template.lookers_name}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>