<font face="calibri" size="3">

    Dear [c.lookers_title] [c.lastname],<br />

    <br />I'm contacting you following on from my email (and call yesterday) and your enquiry with [d.lookers_displayname].<br />

<br />INSERT LINK TO YOUTUBE VIDEO HERE IF AVAILABLE.<br />

<br />Our experienced and knowledgeable sales team at Lookers work on a pressure free basis. This means they are dedicated to helping you make the right choice. You can find out more about Lookers and our history by clicking this link - <a href="http://www.lookers.co.uk/about-us/">www.lookers.co.uk/about-us/</a><br />

<br />Please contact me back on [d.lookers_telephonenumberbdc] or by replying directly to this email. Our office is open between 8am and 8pm 7 days per week.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
<br />

<img src="[f.lookers_logourl]" /><br />
<br />

<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />
Telephone: [d.lookers_telephonenumber]<br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Mon - Fri:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

<a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a><br />
<br />

<br />
<a href="[d.lookers_website]">Click here for directions to [d.lookers_displayname]</a><br />
<br />
</font>