<html>
<head>
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">
        app.controller("CrmBusyController", function ($scope, CrmWebResourceAppUtils) {

            // Read title and description
            var data = CrmWebResourceAppUtils.getUrlParams().Data.split("|");
            $scope.title = data[0];
            $scope.hasTitle = ($scope.title.length > 0);
            $scope.desc = data[1];
            $scope.hasDesc = ($scope.desc.length > 0);

            // Identify if being used in form rather than overlay
            $scope.isOverlay = (data.length < 3 || data[2] != "form");
        });
    </script>
    <style>
        h1 {
            padding: 20px;
        }

        .description {
            padding: 0px 20px 60px 20px;
        }

        .busySpinner {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body style="padding: 0; margin: 4px 4px 0 0">
    <div ng-app="CrmWebResourceApp">
        <div ng-controller="CrmBusyController">
            <h1 ng-show="hasTitle && isOverlay" class="ms-font-xl ms-fontColor-themeDark">{{title}}</h1>
            <div ng-show="hasDesc && isOverlay" class="ms-fontColor-neutralTertiary ms-font-l description">{{desc}}</div>
            <div class="busySpinner">
                <div ng-show="hasTitle && !isOverlay" class="ms-font-s ms-fontWeight-semibold ms-fontColor-neutralDark" style="padding-bottom: 12px">{{title}}</div>
                <img src="/_imgs/AdvFind/progress.gif">
                <div ng-show="hasDesc && !isOverlay" class="ms-font-s ms-fontColor-neutralDark" style="padding-top: 12px">{{desc}}</div>
            </div>
        </div>
    </div>
</body>
</html>