<font face="calibri" size="3">
Dear [c.lookers_title] [c.firstname] [c.lastname],
<br /><br />
Your Reference No. [lookers_refno]    
<br /><br />    
Thank you for your interest in [lookers_makeid] [lookers_rangeid] [lookers_modelid] [lookers_vehicleregistration]. My name is [ownerid] and I will be looking after your enquiry.
<br /><br />
In order for me to deal with your enquiry, can you please reply with the answers to the following questions?
<br />
<ol>
<li>How much of a deposit are you considering?</li>
<li>Do you have a monthly budget in mind?</li>
<li>Do you have a part exchange, and if so is this part of your deposit?</li>
<li>Have you financed a vehicle in the past?</li>
<li>How soon are looking to purchase the vehicle?</li>
</ol>
<br />
As soon as I have your answers I will be able to provide you with your quotation.
<br /><br />
If you would like to contact me directly or would rather book an appointment with our Finance Specialist, please feel free to reply to this email or call me on [d.lookers_telephonenumberbdc] at your convenience and I will be more than happy to help.<br />
    <font face="calibri" size="3">
<br />
<br />
Kind regards,<br />
<br /><br />
[ou.fullname]
<br /><br />
[ou.title]<br />

Lookers Sales Support Team
<br /><br />
[d.lookers_telephonenumberbdc]
    <br /><br />
[ou.internalemailaddress]
<br /><br />
<a href="www.lookers.co.uk">www.lookers.co.uk</a>
<br /><br />


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" /></a></td>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VauxhallEmail" /></a></td>
    </tr>
    </table>
<br /><br />


<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />

    <br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Monday-Friday:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

Click here for offers: <br />
<br />
<a href="www.lookers.co.uk/vauxhall/offers/">www.lookers.co.uk/vauxhall/offers/</a><br />

</font>


</font>