<font face="calibri" size="3">

    Dear [c.lookers_title] [c.lastname],<br />

    <br />I hope you've enjoyed the information I've recently sent over and found this to be informative and useful whilst searching for your new car.<br />

<br />To book an appointment to join us for a test drive, please telephone me on [d.lookers_telephonenumberbdc]. The Contact Centre Team is here between 8am and 8pm 7 days per week and we look forward to hearing from you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
<br />

<img src="[f.lookers_logourl]" /><br />
<br />

<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />
Telephone: [d.lookers_telephonenumber]<br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Mon - Fri:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

<a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a><br />
<br />

<br />
<a href="[d.lookers_website]">Click here for directions to [d.lookers_displayname]</a><br />
<br />
</font>