<html>
<head>
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">
        app.controller("CrmInfoBoxController", function ($scope, CrmWebResourceAppUtils) {
            // Read message from parameters
            $scope.infoMessage = CrmWebResourceAppUtils.getUrlParams().data;
        });
    </script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        p {
            font-family: Segoe UI,Arial,sans-serif;
            font-size: 11px;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div ng-app="CrmWebResourceApp">
        <div ng-controller="CrmInfoBoxController">
            <p>{{infoMessage}}</p>
        </div>
    </div>
</body>
</html>