<html>
<head>
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">

        app.controller("CrmMktPrefConfirmController", function ($scope, $http, CrmWebResourceAppUtils) {

            // Determine if action is Opt Out or Opt In
            var urlParams = CrmWebResourceAppUtils.getUrlParams();
            $scope.isOptOut = urlParams.Data == "out"

            // Define function to return confirmation
            $scope.closeDialog = function (returnValue) {
                Mscrm.Utilities.setReturnValue(returnValue);
                closeWindow(true);
            };

        });
    </script>
    <style>
        body {
            overflow: auto;
        }

        td, th {
            padding: 0px 10px 10px 0px;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="ms-Fabric ms-font-m" ng-app="CrmWebResourceApp">
        <div ng-controller="CrmMktPrefConfirmController">

            <h1 class="ms-font-xl ms-fontColor-themeDark">Marketing Preferences</h1>
            <div class="ms-MessageBar ms-MessageBar--warning">
                <div class="ms-MessageBar-content">
                    <div class="ms-MessageBar-icon">
                        <i class="ms-Icon ms-Icon--Warning" style="padding-top: 5px"></i>
                    </div>
                    <div class="ms-MessageBar-text">
                        This action will <strong ng-show="isOptOut">set</strong><strong ng-show="!isOptOut">unset</strong> Opted Out on all of the Customer's Marketing Preferences. Are you sure?
                    </div>
                </div>
            </div>
            <div style="padding-top:20px; text-align:right">
                <button class="ms-Button ms-Button--primary" ng-click="closeDialog(true)">
                    <span class="ms-Button-label">OK</span>
                </button>
                <button class="ms-Button" ng-click="closeDialog(null)">
                    <span class="ms-Button-label">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>