<font face="calibri" size="3">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="right" valign="top">
        <img height="100" src="[f.lookers_logourl]" />
      </td>
    </tr>
  </table>
  Dear [c.lookers_title] [c.lastname],
  <br />
  <br />Thank you for your recent interest in a test drive of the [lookers_makeid] [lookers_modelid], [lookers_vehicleregistration].
  <br />
  <br />Great news, the car is still available at our [d.lookers_displayname] dealership at [d.lookers_dealershipaddress], and
  has covered xxxxx miles.
  <br />
  <br />I have attempted to contact you today to discuss the enquiry in more detail and find out if there are any particular specifications
  you would require on a vehicle, or if you require any other specific information?
  <br />
  <br />***ANSWER CUSTOMER'S SPECIFIC ENQUIRY IF APPLICABLE***
  <br />
  <br />We would like to invite you into our [d.lookers_displayname] showroom where we would be happy to provide any further
  information you may need and arrange a test drive in this vehicle at a time and date most convenient to you.
  <br />
  <br />So that we are able to assist you and the best options are made available to you, please contact me on 01245 255352, or
  reply via email if you prefer. Alternatively, if I don't hear from you I will attempt to contact you again over the next
  few days.
  <br />
  <br />You can also visit the Lookers [f.lookers_name] website where we have some excellent offers on our New and Used cars. You will have access
    to over 10,000 Approved Used vehicles in stock.
  <br />
  <br />
  <a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a>
  <br />
  <br />Alternatively, if you would like further information on the [f.lookers_name] range feel free to visit the [f.lookers_name]
  website directly.
  <br />
  <a href="[f.lookers_manufacturerwebsite]">[f.lookers_manufacturerwebsite]</a>
  <br />
  <br />
  <strong>**We offer nationwide delivery and, subject to conditions, we can transfer cars between Lookers dealerships. There is a
    map of our dealership locations attached**</strong>
  <br />
  <br />I look forward to hearing from you soon.
  <br />
  <br />Kind regards,
  <br />
  <br />
  <strong>
    <span style="color: navy;">[cu.fullname]
      <br />[cu.title]
      <br />Business Development Centre
      <br />
      <span style="color: #999999;">Lookers PLC</span>
      <br />Tel: [cu.address1_telephone1]
      <br />Email:
      <a href="[cu.internalemailaddress]">[cu.internalemailaddress]</a>
      <br />Website:
      <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
    </span>
  </strong>
  <br />
  <br />
  <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" />
  <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Keys.jpg" />
</font>