<font face="calibri" size="3">

    Dear [c.lookers_title] [c.lastname],<br />

<br />Thank you for using our Valuation Tool to obtain a guide price on your existing vehicle with [d.lookers_displayname].<br />

<br />I'd like to offer an appointment to visit our branch and let one of our team carry out a professional appraisal on your car to let you know exactly how much we could offer. During your visit you could enjoy a test drive and also discuss how we could help finance any purchase.<br />

<br />I thought you'd like to know that all our new cars come with the Volkswagen Warranty which includes;<br />
<ul>
<li>Two year manufacturer warranty with unlimited mileage - plus an extra year retailers warranty.</li>
<li>Three year paint warranty (Terms and Conditions apply).</li>
<li>One year Volkswagen Home and Roadside Assistance (Terms and Conditions apply).</li>
</ul>


<br />Please <a href="https://www.youtube.com/watch?v=PVnfQXDnABA&amp;feature=youtu.be">click here</a>, I hope you enjoy the short film explaining more about the Das WeltAuto Program.<br />
    <br />
    <img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VW_DWA_Program.png" />
    <br />
<br />As a customer at Lookers you can enjoy dealing with locally managed dealerships that are connected nationally through our UK wide network. Lookers Group has grown through a combination of innovation and investment to offer one of the most modern retail experiences in the UK today.<br />

<br />If you would like to book in with us, please respond directly to this email or contact me on [d.lookers_telephonenumberbdc] and we can make arrangements.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
<br />

<img src="[f.lookers_logourl]" /><br />
<br />

<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />
Telephone: [d.lookers_telephonenumber]<br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Mon - Fri:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

<a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a><br />
<br />

<br />
<a href="[d.lookers_website]">Click here for directions to [d.lookers_displayname]</a><br />
<br />
</font>