<html>
<head>
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.components.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">

        app.controller("CrmSelectMergeMasterController", function ($scope, $http, CrmWebResourceAppUtils) {

            var params = CrmWebResourceAppUtils.getUrlParams();
            var entityType = params.typename;

            $scope.candidates = JSON.parse(sessionStorage.getItem("mergecandidates_" + entityType));

            $scope.selectMaster = function (masterId) {
                Mscrm.Utilities.setReturnValue(masterId);
                closeWindow(true);
            };
        });
    </script>
    <style>
        body {
            overflow: auto;
        }

        table {
            margin: 25px 10px 0 10px;
            width: 450px !important;
        }

        tr {
            line-height: 20px !important;
            border-bottom: 1px solid #eee;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
        }

        td, th {
            white-space: nowrap;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
        }
    </style>
</head>
<body>
    <div ng-app="CrmWebResourceApp">
        <div ng-controller="CrmSelectMergeMasterController">
            <h1 class="ms-font-xl ms-fontColor-themeDark">Merge: Select Master Record</h1>
            <p class="ms-fontColor-neutralTertiary ms-font-l">Click on the record that has the best information. Data from the other records will be merged with the data in the record you select.</p>
            <table class="ms-Table">
                <tbody>
                    <tr ng-repeat="candidate in candidates" ng-click="selectMaster(candidate.Id)">
                        <td><a class="ms-Link ms-fontWeight-semibold" href="#" ng-click="selectMaster(candidate.Id)">{{candidate.Name}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>