<font face="calibri" size="3">
Dear [c.lookers_title] [c.firstname] [c.lastname],
<br /><br />
Your Reference No. [lookers_refno]    
<br />

<br />My name is [ownerid] and I'm contacting you because our Motability Specialist (MOTABILITY SPECIALIST'S NAME) has told me that it will soon be time for you to start considering your next New Vauxhall.<br />

<br />Hopefully by now you should have received your renewal information from Motability.<br />

<br />If you have, you will now be able to take a look at our fantastic range of vehicles and see which one you'd like next!!<br />

<br />You may already know which new Vauxhall you are after, or maybe you are still undecided, why not arrange an appointment with (MOTABILITY SPECIALIST'S NAME) our Motability specialist who will be able to answer any questions you may have?<br />

<br />To contact me directly in the meantime please feel free to reply to this email, or call me on [d.lookers_telephonenumberbdc] and I will be more than happy to help.<br />


    <font face="calibri" size="3">
<br />
<br />
Kind regards,<br />
<br /><br />
[ou.fullname]
<br /><br />
[ou.title]<br />

Lookers Sales Support Team
<br /><br />
[d.lookers_telephonenumberbdc]
    <br /><br />
[ou.internalemailaddress]
<br /><br />
<a href="www.lookers.co.uk">www.lookers.co.uk</a>
<br /><br />


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" /></a></td>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VauxhallEmail" /></a></td>
    </tr>
    </table>
<br /><br />


<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />

    <br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Monday-Friday:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

Click here for offers: <br />
<br />
<a href="www.lookers.co.uk/vauxhall/offers/">www.lookers.co.uk/vauxhall/offers/</a><br />

</font>


</font>