<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />Thank you for enquiring about the [lookers_makeid] [lookers_rangeid] [lookers_modelid], [lookers_vehicleregistration].<br />
    <br />My name is [cu.fullname] and I am a Sales Advisor for Lookers [d.lookers_displayname].<br />
    <br />I'm pleased to confirm that this vehicle is, at this moment, still currently available at [d.lookers_displayname].<br />
    <br />It really is a fantastic choice of vehicle and a fine example, I'd love to talk you through the highlights and specification and answer any questions you may have.<br />
    <br />As such I have booked in a call for us later this morning/afternoon at TIME. If for any reason this is inconvenient please feel free to let me know so I can reschedule.<br />
    <br />You can reach me by way of return email or via telephone on [d.lookers_telephonenumberbdc].<br />
    <br />I look forward to speaking with you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Business Development Centre<br />
Mercedes-Benz and Smart<br />
Tel: [d.lookers_telephonenumberbdc]<br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer1.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer2.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer3.png" /><br />
</font>