<font face="calibri" size="3">

    Dear [c.lookers_title] [c.lastname],<br />

<br />This is a confirmation email for your upcoming appointment with Lookers. <br />
<br />Location: [lookers_dealershipid]<br />
<br />Date and Time: [lookers_requestedappointmentdate]<br />
<br />Vehicle of interest: [lookers_makeid] [lookers_rangeid] [lookers_modelid] [lookers_vehicleregistration]<br />
<br />Please remember your driving licence and 1 other form of ID such as a bank card.<br />
<br />If you wish to cancel your appointment or rearrange the time or date please contact me directly on [d.lookers_telephonenumberbdc].<br />


    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
<br />

<img src="[f.lookers_logourl]" /><br />
<br />

<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />
Telephone: [d.lookers_telephonenumber]<br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Mon - Fri:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

<a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a><br />
<br />

<br />
<a href="[d.lookers_website]">Click here for directions to [d.lookers_displayname]</a><br />
<br />
</font>