<font face="calibri" size="3">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="right" valign="top">
                <img height="100" src="[f.lookers_logourl]" />
            </td>
        </tr>
    </table>
    Dear [c.lookers_title] [c.lastname],
    <br />
    <br />I have attempted to contact you today regarding your [lookers_makeid] [lookers_modelid].
    <br />
    <br />The reason I was calling is that the Motability contract is coming to an end this year and we believe now is the time
    to start looking into your options and vehicles that may be of interest to yourself.
    <br />
    <br />We would like to be there on hand to help with any further information you may need in making this decision or perhaps
    arranging a test drive on a new model or providing more information. We would listen to your current circumstances and
    requirements and advise where necessary.
    <br />
    <br />So that we are able to assist you and the best options are made available to yourself, please contact me on 01245 255352,
    or reply via email if you prefer. I would be more than happy to arrange an appointment with one of our Motability Specialists
    at any of our Dealerships at a time convenient to yourself or alternatively, we can discuss your enquiry further over
    the phone.
    <br />
    <br />If you would like further information on the [f.lookers_name] range feel free to visit the [f.lookers_name] website directly.
    <br />
    <br />
    <a href="[f.lookers_manufacturerwebsite]">[f.lookers_manufacturerwebsite]</a>
    <br />
    <br />Alternatively, you can visit the Lookers website to check out our New and Used car offers, where you will have access
    to over 10,000 Approved Used vehicles in stock.
    <br />
    <br />
    <a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a>
    <br />
    <br />
    <strong>**We offer nationwide delivery and, subject to conditions, we can transfer cars between Lookers dealerships. There is
        a map of our dealership locations attached**</strong>
    <br />
    <br />If I don’t hear from you I will attempt to contact you again over the next few days.
    <br />
    <br />I look forward to hearing from you soon.
    <br />
    <br />Kind regards,
  <br />
  <br />
  <strong>
    <span style="color: navy;">[cu.fullname]
      <br />[cu.title]
      <br />Business Development Centre
      <br />
      <span style="color: #999999;">Lookers PLC</span>
      <br /> Tel: [cu.address1_telephone1]
      <br /> Email:
      <a href="[cu.internalemailaddress]">[cu.internalemailaddress]</a>
      <br /> Website:
      <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
    </span>
  </strong>
  <br />
  <br />
  <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" />
  <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Keys.jpg" />
</font>