<font face="calibri" size="3">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="right" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/AudiRings.jpg">
            </td>
        </tr>
    </table>
    Dear [c.lookers_title] [c.lastname],
    <br />
    <br />Thank you for your enquiry. I’m excited to share with you the digital guide for a new Audi [lookers_modelid] (insert
    hyperlink). I hope you’ll enjoy reading what the [lookers_modelid] has to offer.
    <br />
    <br />(Insert specific response to customer’s enquiry using positive language AND compliment their choice – e.g with regards
    to the A5 coupe the mileage is 2,800, great choice as this is a low mileage car)
    <br />
    <br />We’d love to see you at [d.lookers_displayname] soon where one of our team will arrange for you to experience
    the drive, share more information and help you choose the right Audi for you.
    <br />
    <br />Ahead of your visit, why not build your bespoke Audi on our configurator:
    <a href="http://www.uk.audi.com/uk/web/en/models.html">http://www.uk.audi.com/uk/web/en/models.html</a>. You can even bring your unique code with you on your visit to share
    your choices with us.
    <br />
    <br />I’ll call you later today to answer any questions you may have. Alternatively, you can reach me on [d.lookers_telephonenumber] (select option for New or Used sales enquiries) or
    reply to my email at your convenience.
    <br />
    <br />Yours sincerely,
    <br />
    <br /><strong>[cu.fullname]</strong>
    <br />
    <br />Audi Sales Support
    <br />
    <br />E:
    <a href="mailto: [cu.internalemailaddress]">[cu.internalemailaddress]</a>
    <br />
    <br />
    <a href="http://www.Lookers.co.uk/Audi">www.Lookers.co.uk/Audi</a>
    <br />
    <br />[d.lookers_displayname], [d.lookers_dealershipaddress], UK T: [d.lookers_telephonenumber] (select option for New or Used sales enquiries)
</font>