<font face="calibri" size="3">
Dear [c.lookers_title] [c.firstname] [c.lastname],
<br /><br />
Your Reference No. [lookers_refno]    
<br />  
<br />Thank you for using our online valuation service, I hope you found it useful. My name is [ownerid] and I will be looking after your enquiry.<br />
<br />The online valuations are only approximate, for a full vehicle appraisal to ensure an accurate valuation I would like to invite you into the showroom at a date and time suitable for you. This is so we may view your car to enable us to offer you our most competitive price. To book your appointment please call me or reply by email.<br />
<br />If you are considering part exchanging your car for a new one, we have a number of offers that could increase the amount for you to use to bring down the cost to change, I'd be happy to let you know more about these if you are interested.<br />

<br />To contact me directly, please feel free to reply to this email, or call me on [d.lookers_telephonenumberbdc] at your convenience, and I will be more than happy to help.<br />

<br />If you no longer require any assistance please let me know and I will close your enquiry.<br />


    <font face="calibri" size="3">
<br />
<br />
Kind regards,<br />
<br /><br />
[ou.fullname]
<br /><br />
[ou.title]<br />

Lookers Sales Support Team
<br /><br />
[d.lookers_telephonenumberbdc]
    <br /><br />
[ou.internalemailaddress]
<br /><br />
<a href="www.lookers.co.uk">www.lookers.co.uk</a>
<br /><br />


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" /></a></td>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VauxhallEmail" /></a></td>
    </tr>
    </table>
<br /><br />


<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />

    <br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Monday-Friday:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

Click here for offers: <br />
<br />
<a href="www.lookers.co.uk/vauxhall/offers/">www.lookers.co.uk/vauxhall/offers/</a><br />

</font>


</font>