<font face="calibri" size="3">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="right" valign="top">
                <img height="100" src="[f.lookers_logourl]" />
            </td>
        </tr>
    </table>
    Dear [c.lookers_title] [c.lastname],
    <br />
    <br />It’s been a couple of days now since you were due to come into our Lookers [d.lookers_displayname] showroom, and we
    were just wondering if you have managed to find your ideal vehicle?
    <br />
    <br />If you haven’t managed to find your ideal vehicle yet, the link below will take you to our Lookers [f.lookers_name] website,
    where you can view current New and Used car offers and where you will also have access to over 10,000 Approved Used vehicles
    in stock.
    <br />
    <br />
    <a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a>
    <br />
    <br />
    <strong>**We offer nationwide delivery and, subject to conditions, we can transfer cars between Lookers dealerships. There is
        a map of our dealership locations attached**</strong>
    <br />
    <br />I would love to hear about your visit and see if there is anything I can do further to help you find your ideal vehicle.
    Please don’t hesitate to contact me on 01245 255352 or reply via email if you would prefer.
    <br />
    <br />As I am based centrally I can assist with enquiries on
    <strong>
        <u>any Lookers vehicle</u>
    </strong>. Alternatively, if I don’t hear from you I will attempt to contact you again in a week’s time.
    <br />
    <br />I look forward to hearing from you soon.
    <br />
    <br />Kind regards,
    <br />
    <br />
    <strong>
        <span style="color: navy;">[cu.fullname]
            <br />[cu.title]
            <br />Business Development Centre
            <br />
            <span style="color: #999999;">Lookers PLC</span>
            <br />Tel: [cu.address1_telephone1]
            <br />Email:
            <a href="[cu.internalemailaddress]">[cu.internalemailaddress]</a>
            <br />Website:
            <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
        </span>
    </strong>
    <br />
    <br />
    <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" />
    <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Keys.jpg" />
</font>