<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />My name is [cu.fullname] and I am a Sales Advisor for Lookers [d.lookers_displayname].<br />
    <br />Thank you for your interest in our [lookers_makeid] [lookers_rangeid] [lookers_modelid], [lookers_vehicleregistration]. This car was a fine example of a [lookers_rangeid] and so I am sure you won't be surprised to learn that unfortunately this particular car is no longer available.<br />
    <br />However, I have taken it upon myself to search the stock we have across the 7 Mercedes-Benz Dealerships across the South East and have found the following vehicle which is a very similar model/spec/price and that has almost identical/similar features: ENTER LINK HERE<br />
    <br />Please feel free to peruse our current stock, and contact me either via return email or telephone on [d.lookers_telephonenumberbdc] so that I can talk you through the highlights and get you a test drive arranged.<br />
    <br />We offer a 100% refundable deposit on our stock and so when you find the car that's right for you, we can assure that the car can be secured for you from the moment you choose.<br />
    <br />I look forward to hearing from you soon.<br/>

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Business Development Centre<br />
Mercedes-Benz and Smart<br />
Tel: [d.lookers_telephonenumberbdc]<br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer1.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer2.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer3.png" /><br />
</font>