<font face="calibri" size="3">
    Dear [c.firstname],
    <br />
    <br />Thank you for your Value My Vehicle enquiry regarding our [lookers_makeid] [lookers_modelid] ([lookers_vehicleregistration]).
    <br />
    <br />This is a great choice of vehicle and it is currently available at our [f.lookers_name] Dealership
    at [d.lookers_dealershipaddress].
    <br />
    <br />The link below will take you to our website where I have selected your vehicle of interest for your perusal, and we
    do have the ability to send a
    <strong>
        <u>VIDEO</u>
    </strong> presentation of the car by email if required:
    <br />
    <br />
    <a href="[s.lookers_vehicleurl]">View details of [lookers_makeid] [lookers_modelid] ([lookers_vehicleregistration])</a>
    <br />
    <br />All used vehicles come with The Lookers Approved Package at
    <strong>
        <u>no extra cost</u></strong>. This includes the following as standard to offer you peace of mind motoring:
    <ul>
        <li>Minimum of 12 months Warranty (where not already covered by manufacturer's warranty)</li>
        <li>Minimum of 12 months Vehicle Assist Recovery Service (where not already covered by manufacturer programme)</li>
        <li>Minimum of 9 months MOT</li>
        <li>No quibble 30 day exchange plan for added peace of mind (if you are not satisfied with your purchase for
            <strong>
                <u>ANY</u>
            </strong> reason within the first 30 days, we will exchange the vehicle)</li>
        <li>Multi-point Safety Inspection</li>
        <li>Vehicle Reconditioning</li>
        <li>Vehicle Mileage Check</li>
        <li>Vehicle History Check</li>
    </ul>
    <h4><u>Lookers Transparent Pricing Policy</u></h4>
    <strong>
        <ul>
            <li>You can buy with confidence. The internet makes car buying more transparent, this is why we check our prices
                daily to ensure we are extremely competitive. You can be confident that you are getting the best value for
                your money.</li>
            <li>With our price promise, should you find a similar new or used car for less within 14 days of purchase we will
                refund the difference.</li>
            <li> Find the same car for less and Lookers will refund the difference. </li>
        </ul>
    </strong>

    <font size="4">
        <strong>**We offer nationwide delivery and subject to conditions, we can transfer cars between Lookers dealerships. There
            is a map of our dealership locations attached**</strong>
    </font>
    <br />
    <br />In order to get the most accurate value for your part exchange we will need to see it. However if you can supply the
    following, I will get a more accurate value (subject to viewing):<br />
<br />
    <table cellpadding="3" cellspacing="3">
        <tr><th align="left">Full Reg Number</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">Date Of Registration</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">Exact Make and Model<br />(e.g. Ford Focus 1.6i Zetec 5dr)</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">Colour (inside and out)</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">Mileage</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">Service History</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">MOT</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">Outstanding finance</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">Is it an Import</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">Condition (inside and out)</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
        <tr><th align="left">Any extra Spec</th><td width="200" style="border-bottom: 1px black solid">&nbsp;</td></tr>
    </table>
    <br />
    Once I have the information above I will start researching the value or would you prefer to arrange an appointment to come in so we can physically appraise your vehicle, allowing us to give you the best possible valuation?
    <br />
    <br />
    <strong>**Any of our vehicles can be reserved with just £100 deposit which is fully refundable, subject to a satisfactory
        viewing and test drive. This would guarantee the car is not sold between now and your appointment.**</strong>
    <br />
    <br />I look forward to hearing from you soon.
    <br />
    <br />Kind regards,
    <br />
</font>
<br />
<table>
    <tbody>
        <tr>
            <td width="160" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg">
            </td>
            <td valign="top">
                <strong>
                    <font face="arial" size="3" color="#888888">[cu.fullname]
                        <br />North East Head Office
                        <br />
                        <font color="#336699">Tel:</font>
                        [cu.address1_telephone1]
                    </font>
                    <br />
                    <br />
                    <font face="arial" size="2">
                        <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
                    </font>
                </strong>
            </td>
        </tr>
    </tbody>
</table>