<font face="calibri" size="3">

    Dear [c.lookers_title] [c.lastname],<br />

    <br />Thank you for your enquiry regarding [lookers_modelid] at our [d.lookers_displayname] dealership. I'd like to take this opportunity to compliment you on your choice of vehicle.<br />

<br />I'm keen to arrange a visit to our showroom for you where, in addition to enjoying a test drive, you can discuss pricing and how we can support you in funding any purchase. Our experienced team can also carry out a professional appraisal on your existing car should you wish to offer this in part exchange.<br />

<br />XXX WHERE THE CUSTOMER HAS ASKED A SPECIFIC QUESTION - PLEASE ANSWER HERE XXX INSERT REP EXAMPLE IF AVAILABLE.<br />

<br />If you <a href="https://www.youtube.com/watch?v=WjUOCIhSA9I">click here</a> you can learn more about the popular Skoda Solutions personal contract plan. <a href="https://www.youtube.com/user/SkodaUKChannel/featured">Clicking here</a> will also take you to our Skoda UK YouTube channel where you can enjoy content that showcases our Skoda range and new technology. If you'd like to enjoy a brochure prior to joining us at our showroom, please <a href="http://www.skoda.co.uk/tools/request-a-brochure/">click here</a>, to download your brochure in seconds.<br />

<br />As a customer at Lookers you can enjoy dealing with locally managed dealerships that are connected nationally through our UK wide network. Lookers Group has grown through a combination of innovation and investment to offer one of the most modern retail experiences in the UK today.<br />

<br />Would you be free to join us later this week to enjoy a test drive? If you would like to book in please reply directly to this email with a convenient date and time and I can arrange this for you. You can contact me also by telephoning [d.lookers_telephonenumberbdc].<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
<br />

<img src="[f.lookers_logourl]" /><br />
<br />

<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />
Telephone: [d.lookers_telephonenumber]<br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Mon - Fri:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

<a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a><br />
<br />

<br />
<a href="[d.lookers_website]">Click here for directions to [d.lookers_displayname]</a><br />
<br />
</font>