<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />My name is [cu.fullname] and I am a Sales Advisor for Lookers [d.lookers_displayname].<br />
    <br />We received your part exchange enquiry regarding your [p.lookers_makeid] [p.lookers_rangeid] [p.lookers_modelid], [p.lookers_registrationnumber].<br />
    <br />The online valuation is only a guide price, solely based on the model and mileage. In order to carry out an accurate valuation, we would love to see your vehicle.<br />
    <br />We would like to invite you into the dealership, to allow our Business Manager to carry out a personal appraisal for you.<br />
    <br />During this personal appraisal we would be able to take into account the interior and exterior condition, as well as any additional extras the vehicle may have. Also take the opportunity to test drive the range and discuss the amazing offers currently available.<br />
    <br />Why not join us for a coffee, look through our array of New and Approved Used vehicles, finding the right car for you.<br />
    <br />If you could kindly call me on [d.lookers_telephonenumberbdc] or alternatively respond to this email, I would love to discuss this further.<br />
    <br />I look forward to hearing from you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Lookers Mercedes-Benz<br />
T: [d.lookers_telephonenumberbdc]<br />
<br /><img height=63 src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo1.png" />
<br /><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo2.png" />
<br /><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo3.png" />
</font>