<font face="calibri" size="3">

    Dear [c.lookers_title] [c.lastname],<br />

    <br />Thank you for your enquiry regarding the Volkswagen [lookers_modelid] and part exchange of your [p.lookers_makeid], [p.lookers_modelid], [p.lookers_registrationnumber] at [d.lookers_displayname]. I'd like to take this opportunity to compliment you on your choice of vehicle.<br />

<br />The [lookers_modelid] is currently available and I’d like to arrange a visit to our branch at a suitable date and time to discuss your enquiry, price and how we can support you in funding any purchase. As well as enjoying a test drive; our team could also carry out a comprehensive, professional appraisal of your existing vehicle to let you know exactly how much we could offer should you wish to part exchange.<br />

<br />By <a href="https://www.lookers.co.uk/volkswagen-vans/used-vans/">clicking here</a> you can see the full range of other Volkswagens available from our group stock in addition to the commercial vehicle you have enquired on.<br />

<br />    I’m proud to tell you that all Lookers Volkswagen used vehicles are covered by the Das WeltAuto Program at no extra cost. This incorporates 12 months roadside assistance, flexible finance options, 30 days/1000 miles no quibble exchange policy, independent vehicle history checks, service history check, 142 point check, 5 days Volkswagen insurance, 12 months unlimited mileage warranty and 12 months M.O.T cover where applicable. <br />


<br />Please <a href="https://www.volkswagen-vans.co.uk/en/used-vehicles.html?wcmmode=222">click here</a>, I hope you enjoy the short film explaining more about the Das WeltAuto Program.<br />
    <br />

<br />In addition to the above please <a href="https://www.lookers.co.uk/volkswagen-vans/used-offers/">click here</a> to have a look at the current Lookers Used Volkswagen Offers. Clicking <a href="https://www.youtube.com/user/vwcommercialvehicles">here</a> will take you to the Volkswagen YouTube channel where you can learn about Safe Distance Technology, our latest vehicles and other technology - you can even see our latest TV advertisement.<br />

<br />As a customer at Lookers you can enjoy dealing with locally managed dealerships that are connected nationally through our UK wide network. Lookers Group has grown through a combination of innovation and investment to offer one of the most modern retail experiences in the UK today.<br />

<br />Please contact me back on [d.lookers_telephonenumberbdc] or by replying directly to this email. Our office is open between 8am and 8pm 7 days per week.<br />

<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
<br />

<img src="[f.lookers_logourl]" /><br />
<br />

<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />
Telephone: [d.lookers_telephonenumber]<br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Mon - Fri:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

<a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a><br />
<br />

<br />
<a href="[d.lookers_website]">Click here for directions to [d.lookers_displayname]</a><br />
<br />
</font>