<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />My name is [cu.fullname] and I am a Sales Advisor for Lookers [d.lookers_displayname].<br />
    <br />I'm pleased to inform you that we've received your part exchange request for your [p.lookers_makeid] [p.lookers_rangeid] [p.lookers_modelid], [p.lookers_registrationnumber].<br />
    <br />The online valuation is a guide price which unfortunately can't take into consideration anything other than model and mileage. In order for us to ensure that we can give you the very best price we have arranged a vehicle valuation which only takes 15 minutes.<br />
    <br />This inspection is carried out by our Business Manager and allows us to take a variety of other contributing factors into consideration like interior and exterior condition.<br />
    <br />Whilst you're here you can have a coffee and look through our large stock of new and approved used vehicles, hopefully finding the right car for you.<br />
    <br />I have booked you in for a call later today/tomorrow at TIME so we can arrange the best day and times for you to come in, if this isn't convenient please could you kindly contact me on [d.lookers_telephonenumberbdc] or via email to rearrange.<br />
    <br />I look forward to hearing from you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Business Development Centre<br />
Mercedes-Benz and Smart<br />
Tel: [d.lookers_telephonenumberbdc]<br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer1.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer2.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer3.png" /><br />
</font>