<font face="calibri" size="3">
    <h1>New VW Finance Lead Notification</h1>
    <h2>Customer and Contact Information</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <tr>
            <th align="left" valign="top" width="200">Customer Name</th>
            <td>[lookers_title] [firstname] [lastname]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Gender</th>
            <td>[lookers_gender]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Phone Numbers</th>
            <td>Mobile [mobilephone]
                <br />Home [telephone2]
                <br />Business [telephone1]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">EMail</th>
            <td>[emailaddress1]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Address</th>
            <td>[lookers_address1housename] [lookers_address1housenumber]
                <br />[address1_line1]
                <br />[address1_line2]
                <br />[address1_stateorprovince]
                <br />[address1_postalcode]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Contact Preferences</th>
            <td>SMS [lookers_donotsms]
                <br />Bulk Email [donotbulkemail]
                <br />Email [donotemail]
                <br />Fax [donotfax]
                <br />Phone [donotphone]
                <br />Postal Mail [donotpostalmail]
                <br />Mass Mail [donotsendmm]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Special Requirements</th>
            <td>Wheelchair Access [lookers_wheelchairaccessrequired]
                <br />Sign Language [lookers_signlanguageinterpreterrequired]
                <br />Other [lookers_otherspecialrequirement]
                <br />[lookers_otherspecialrequirementtext]
                <br />[lookers_specialrequirementdetail]
            </td>
        </tr>
    </table>
    <h2>Vehicle of Interest Information</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <tr>
            <th align="left" valign="top" width="200">Vehicle Details</th>
            <td>[lookers_newused]
                <br />[lookers_vehicletypelookup]
                <br />[lookers_manufacturer]
                <br />[lookers_makeid]
                <br />[lookers_rangeid]
                <br />[lookers_modelid]
                <br />[lookers_derivative]
                <br />[lookers_modelyear]
                <br />[lookers_vehicleregistration]</td>
        </tr>
    </table>
    <h2>Part Exchange Information</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <tr>
            <th align="left" valign="top" width="200">Vehicle</th>
            <td>[lookers_primarypartexchangevehicleid]</td>
        </tr>
    </table>
    <h2>Lead Information</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <tr>
            <th align="left" valign="top" width="200">Lead Type</th>
            <td>[lookers_leadtype]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Lead Message</th>
            <td>[lookers_leadmessage]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Source</th>
            <td>[lookers_source]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Source URL</th>
            <td>[lookers_sourceurl]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Inbound Channel</th>
            <td>[lookers_inboundchannel]</td>
        </tr>
        <tr>
            <th align="left" valign="top" width="200">Session Interactions</th>
            <td>[lookers_sessioninteractions]</td>
        </tr>
    </table>
</font>