<font face="calibri" size="3">
    Dear [c.firstname],
    <br />
    <br />Thank you for your enquiry regarding our [lookers_makeid] [lookers_modelid] ([lookers_vehicleregistration]).
    <br />
    <br />This is a great choice of vehicle but unfortunately this particular one has now sold. The website link below will take
    you directly to options for an alternative [lookers_modelid] from within our group:
    <br />
    <br />
    <a href="http://www.lookers.co.uk/used-cars/search/?make%5B%5D=[lookers_makeid]&model%5B[lookers_makeid]%5D%5B%5D=[lookers_rangeid]">Search for
        <strong>[lookers_makeid] [lookers_rangeid]</strong> across our stock of vehicles nationwide.</a>
    <br />
    <br />All used vehicles come with The Lookers Approved Package at
    <strong>
        <u>no extra cost</u></strong>. This includes the following as standard to offer you peace of mind motoring:
    <ul>
        <li>Minimum of 12 months Warranty (where not already covered by manufacturer's warranty)</li>
        <li>Minimum of 12 months Vehicle Assist Recovery Service (where not already covered by manufacturer programme)</li>
        <li>Minimum of 9 months MOT</li>
        <li>No quibble 30 day exchange plan for added peace of mind (if you are not satisfied with your purchase for
            <strong>
                <u>ANY</u>
            </strong> reason within the first 30 days, we will exchange the vehicle)</li>
        <li>Multi-point Safety Inspection</li>
        <li>Vehicle Reconditioning</li>
        <li>Vehicle Mileage Check</li>
        <li>Vehicle History Check</li>
    </ul>
    <h4><u>Lookers Transparent Pricing Policy</u></h4>
    <strong>
        <ul>
            <li>You can buy with confidence. The internet makes car buying more transparent, this is why we check our prices
                daily to ensure we are extremely competitive. You can be confident that you are getting the best value for
                your money.</li>
            <li>With our price promise, should you find a similar new or used car for less within 14 days of purchase we will
                refund the difference.</li>
            <li> Find the same car for less and Lookers will refund the difference. </li>
        </ul>
    </strong>
     I have attached copy of our Terms of Business for your information.<br />
<br />
    <font size="4">
        <strong>**We offer nationwide delivery and subject to conditions and we can transfer cars between Lookers dealerships and there is a map of our dealership locations attached.**</strong>
    </font>
    <br />
    <br />Please let me know if any of these vehicles are of interest to you, or if you require any further information.
    <br />
    <br />I look forward to hearing from you soon.
    <br />
    <br />Kind regards,
    <br />
</font>
<br />
<table>
    <tbody>
        <tr>
            <td width="160" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg">
            </td>
            <td valign="top">
                <strong>
                    <font face="arial" size="3" color="#888888">[cu.fullname]
                        <br />North East Head Office
                        <br />
                        <font color="#336699">Tel:</font>
                        [cu.address1_telephone1]
                    </font>
                    <br />
                    <br />
                    <font face="arial" size="2">
                        <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
                    </font>
                </strong>
            </td>
        </tr>
    </tbody>
</table>