<html>
<head>
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.components.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">

        app.controller("CrmSelectCustomerController", function ($scope, $http, CrmWebResourceAppUtils) {

            var params = CrmWebResourceAppUtils.getUrlParams();

            $scope.customers = JSON.parse(sessionStorage.getItem("suggestedcustomers_" + params.id));
            $scope.matchCount = $scope.customers.length == 1 ? "an existing Customer" : $scope.customers.length + " existing Customers";

            $scope.leadData = JSON.parse(sessionStorage.getItem("leaddata_" + params.id));

            $scope.selectCustomer = function (customerId) {
                Mscrm.Utilities.setReturnValue(customerId);
                closeWindow(true);
            };
        });
    </script>
    <style>
        body {
            overflow: hidden;
        }

        table {
            margin: 25px 10px 0 10px;
            width: 978px;
        }

        tr {
            line-height: 20px !important;
            border-bottom: 1px solid #eee;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
        }

        td, th {
            white-space: nowrap;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
            text-align: left;
        }

        .ms-u-sm10 {
            height: 88%;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    </style>
    <style type="text/css">
        P {
            margin: 0;
        }
    </style>
</head>
<body>
    <div ng-app="CrmWebResourceApp">
        <div ng-controller="CrmSelectCustomerController">
            <h1 class="ms-font-xl ms-fontColor-themeDark">Select Existing Customer</h1>
            <p class="ms-fontColor-neutralTertiary ms-font-m">The Customer details on this Lead are similar to those of {{matchCount}}. Please choose an existing Customer to associate with this Lead if possible. Click <strong>New Customer</strong> if none of the suggested matches is correct.</p>
            <div class="ms-Grid">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm3">
                        <h2 class="ms-font-l ms-fontColor-themeDark">Lead Customer</h2>
                        <table class="ms-font-m" style="width:90%">
                            <tbody>
                                <tr>
                                    <th class="tableCellNameAddress">Name</th>
                                    <td class="tableCellNameAddress ms-fontColor-red">{{leadData.FirstName}} {{leadData.LastName}}</td>
                                </tr>
                                <tr>
                                    <th class="tableCellEmail">Email</th>
                                    <td class="tableCellEmail ms-fontColor-red">{{leadData.EmailAddress}}</td>
                                </tr>
                                <tr>
                                    <th class="tableCellPhone">Mobile</th>
                                    <td class="tableCellPhone ms-fontColor-red">{{leadData.MobilePhone}}</td>
                                </tr>
                                <tr>
                                    <th class="tableCellPhone">Home</th>
                                    <td class="tableCellPhone ms-fontColor-red">{{leadData.HomePhone}}</td>
                                </tr>
                                <tr>
                                    <th class="tableCellPhone">Business</th>
                                    <td class="tableCellPhone ms-fontColor-red">{{leadData.BusinessPhone}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <button class="ms-Button ms-Button--primary" ng-click="selectCustomer(null)">
                            <span class="ms-Button-label">New Customer</span>
                            <span class="ms-Button-description">Close without selecting an existing Customer</span>
                        </button>
                    </div>
                    <div class="ms-Grid-col ms-u-sm9">
                        <h2 class="ms-font-l ms-fontColor-themeDark">Suggested Existing Customers</h2>
                        <table class="ms-Table">
                            <thead>
                                <tr class="ms-borderColor-neutralLight">
                                    <th class="tableCellNameAddress">Name and Address</th>
                                    <th class="tableCellEmail">Email</th>
                                    <th class="tableCellPhone">Mobile</th>
                                    <th class="tableCellPhone">Home</th>
                                    <th class="tableCellPhone">Business</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customer in customers" ng-click="selectCustomer(customer.contactid)">
                                    <td class="tableCellNameAddress">
                                        <span class="ms-fontWeight-semibold"><span ng-class="{'ms-fontColor-red': leadData.FirstName == customer.firstname}">{{customer.firstname}}</span>&nbsp;<span ng-class="{'ms-fontColor-red': leadData.LastName == customer.lastname}">{{customer.lastname}}</span></span><br>
                                        {{customer.lookers_searchaddress}}
                                    </td>
                                    <td class="tableCellEmail" ng-class="{'ms-fontColor-red': leadData.EmailAddress == customer.emailaddress1}">{{customer.emailaddress1}}</td>
                                    <td class="tableCellPhone" ng-class="{'ms-fontColor-red': leadData.MobilePhone == customer.mobilephone}">{{customer.mobilephone}}</td>
                                    <td class="tableCellPhone" ng-class="{'ms-fontColor-red': leadData.HomePhone == customer.telephone2}">{{customer.telephone2}}</td>
                                    <td class="tableCellPhone" ng-class="{'ms-fontColor-red': leadData.BusinessPhone == customer.telephone1}">{{customer.telephone1}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>