<font face="calibri" size="3">
Dear [c.lookers_title] [c.firstname] [c.lastname],
<br /><br />
Your Reference No. [lookers_refno]    
<br /><br />  
    
    <br />Thank you for your recent interest regarding [lookers_makeid] [lookers_rangeid] [lookers_modelid] [lookers_vehicleregistration] My name is [ownerid] and I will be looking after your enquiry.<br />
<br /><br />
<br />(ANSWER QUESTION HERE)<br />
<br /><br />
<br />I trust this answers your question, if you would like to progress this further I can book you in for an appointment with one of our Sales Specialists?<br />

<br />They will be able to provide any finance quotes, test drives or any part exchange valuations you may be interested in.<br />

<br />When would be best for you, a weekday or weekend?<br />

<br />Please contact me directly on [d.lookers_telephonenumberbdc] or by return email and I will be more than happy to help.<br />

<br />I look forward to hearing from you.<br />
    
    
     

    <font face="calibri" size="3">
<br />
<br />
Kind regards,<br />
<br /><br />
[ou.fullname]
<br /><br />
[ou.title]<br />

Lookers Sales Support Team
<br /><br />
[d.lookers_telephonenumberbdc]
    <br /><br />
[ou.internalemailaddress]
<br /><br />
<a href="www.lookers.co.uk">www.lookers.co.uk</a>
<br /><br />


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" /></a></td>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VauxhallEmail" /></a></td>
    </tr>
    </table>
<br /><br />


<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />

    <br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Monday-Friday:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

Click here for offers: <br />
<br />
<a href="www.lookers.co.uk/vauxhall/offers/">www.lookers.co.uk/vauxhall/offers/</a><br />

</font>


</font>