<font face="calibri" size="3">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="right" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/AudiRings.jpg">
            </td>
        </tr>
    </table>
    Dear [c.lookers_title] [c.lastname],
    <br />
    <br />Thank you for requesting a valuation of your (insert car Ford Focus/Renault Clio…) on our web site. You will have received
    a few different values for your car from us. This is based on a number of factors that contribute towards how a market
    valuation is generated, including vehicle mileage, condition and demand. Every car is unique and therefore it’s important
    for us to see your car. We would like you to come in and visit us at [d.lookers_displayname] where one of our
    team will fully appraise your vehicle and, if it’s the right time, then help you find your next Audi. I will be in touch
    shortly or you can speak with me directly on [d.lookers_telephonenumber] (select option for New or Used sales enquiries), or reply to my email at your convenience. I look forward
    to hearing from you.
    <br />
    <br />Yours sincerely,
    <br />
    <br /><strong>[cu.fullname]</strong>
    <br />
    <br />Audi Sales Support
    <br />
    <br />E:
    <a href="mailto: [cu.internalemailaddress]">[cu.internalemailaddress]</a>
    <br />
    <br />
    <a href="http://www.Lookers.co.uk/Audi">www.Lookers.co.uk/Audi</a>
    <br />
    <br />[d.lookers_displayname], [d.lookers_dealershipaddress], UK T: [d.lookers_telephonenumber] (select option for New or Used sales enquiries)
</font>