<html>
<head>
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">
        app.controller("CrmOppMktPrefController", function ($scope, $http, CrmWebResourceAppUtils) {

            // Read Group and Brand
            var data = CrmWebResourceAppUtils.getUrlParams().Data.split("|");
            $scope.hasBrand = false;
            $scope.groupName = data[0];
            if (data.length > 1) {
                $scope.brandName = data[1];
                $scope.hasBrand = true;
            }

            // Setup Close Dialogue Function
            $scope.closeDialog = function (returnValue) {
                Mscrm.Utilities.setReturnValue(returnValue);
                closeWindow(true);
            };
        });
    </script>
    <style>
        body {
            overflow: auto;
            padding: 20px;
        }

        td, th {
            padding: 0px 10px 10px 0px;
            white-space: nowrap;
        }

        .ms-MessageBar-text {
            font-size: 100% !important;
            line-height: 25px;
        }

        li {
            list-style-type: none !important;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 110%;
        }
    </style>
</head>
<body>
    <div class="ms-Fabric ms-font-m" ng-app="CrmWebResourceApp">
        <div ng-controller="CrmOppMktPrefController">

            <h3>Please read out the following text to the Customer:</h3>
            <div class="ms-MessageBar ms-MessageBar--warning" style="width:97%">
                <div class="ms-MessageBar-content">
                    <div class="ms-MessageBar-text">
                        Would you like to receive personalised marketing communications <span ng-show="hasBrand">regarding <strong>{{groupName}}</strong> and <strong>{{brandName}}</strong></span> from the Lookers group of companies who are described in our privacy policy? We can keep you up to date with News, Events, our ranges of vehicles and new models.
                    </div>
                </div>
            </div>

            <div style="margin-top: 10px">
                <h3>What has the Customer decided?</h3>
                <label><input type="radio" ng-model="mpChoice" value="Y"><strong>Yes</strong>, I would like to receive marketing communications.</label>
                <label><input type="radio" ng-model="mpChoice" value="N"><strong>No</strong>, please do not send marketing communications.</label>
            </div>

            <div style="margin-top: 10px" ng-show="mpChoice == 'Y'">
                <h3>Please read out the following text to the Customer:</h3>
                <div class="ms-MessageBar ms-MessageBar--warning" style="width:97%">
                    <div class="ms-MessageBar-content">
                        <div class="ms-MessageBar-text">
                            <p>Thank you. You can amend or withdraw your consent to the Lookers group of companies at any time by contacting us on this number or sending an email to lookersdata@lookers.co.uk stating "UNSUBSCRIBE" in the subject line. Further details regarding the processing of your personal data, and a full list of Lookers companies can be found in our Privacy Statement which is available on our website.</p>
                            <p>Are you happy to receive marketing communications <span ng-show="hasBrand">regarding <strong>{{groupName}}</strong> and <strong>{{brandName}}</strong></span> by Email, Phone, SMS and Post, or would you like to set custom preferences for <strong>{{groupName}}</strong><span ng-show="hasBrand"> and for <strong>{{brandName}}</strong></span>?</p>
                        </div>
                    </div>
                </div>
                <br />
                <button class="ms-Button ms-Button--primary" ng-click="closeDialog(1)">
                    <span ng-show="!hasBrand" class="ms-Button-label">Full Opt In</span>
                    <span ng-show="hasBrand" class="ms-Button-label">Full Opt In for {{groupName}} and {{brandName}}</span>
                </button>
                <button class="ms-Button" ng-click="closeDialog(2)">
                    <span ng-show="!hasBrand" class="ms-Button-label">Set Custom Preferences</span>
                    <span ng-show="hasBrand" class="ms-Button-label">Set Custom Preferences for {{groupName}} and {{brandName}}</span>
                </button>
            </div>

            <div style="margin-top: 10px" ng-show="mpChoice == 'N'">
                <h3>Please read out the following text to the Customer:</h3>
                <div class="ms-MessageBar ms-MessageBar--warning" style="width:97%">
                    <div class="ms-MessageBar-content">
                        <div class="ms-MessageBar-text">
                            <p>No problem, that's fine. If you change your mind, do let us know and we can start to send you information about news, events, our ranges of vehicles and new models.</p>
                            <p>We will not send you marketing communications <span ng-show="hasBrand">regarding <strong>{{groupName}}</strong> and <strong>{{brandName}}</strong></span>.</p>
                        </div>
                    </div>
                </div>
                <br />
                <button class="ms-Button ms-Button--primary" ng-click="closeDialog(0)">
                    <span ng-show="!hasBrand" class="ms-Button-label">Confirm Opt-Out</span>
                    <span ng-show="hasBrand" class="ms-Button-label">Confirm Opt-Out for {{groupName}} and {{brandName}}</span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>