<font face="calibri" size="3">

Dear [c.lookers_title] [c.firstname] [c.lastname],
<br /><br />
Your Reference No. [lookers_refno]    
<br />

    <br />Congratulations on registering with the Vauxhall Partners Scheme. You are now entitled to some fantastic discounts and offers across the range of new Vauxhalls.<br />

<br />My name is [ownerid] and I am here to help with any questions you may have regarding the scheme, as well as providing any brochures you may require, arranging test drives, finance quotes or appointments with our specialists to provide exact prices.<br />

<br />To contact me directly, my number is [d.lookers_telephonenumberbdc] or feel free to reply this email at your convenience.<br />

<br />If at this stage you do not require my assistance, please could you let me know and I will update our system.<br />
<br />I look forward to hearing back from you.<br />


    <font face="calibri" size="3">
<br />
<br />
Kind regards,<br />
<br /><br />
[ou.fullname]
<br /><br />
[ou.title]<br />

Lookers Sales Support Team
<br /><br />
[d.lookers_telephonenumberbdc]
    <br /><br />
[ou.internalemailaddress]
<br /><br />
<a href="www.lookers.co.uk">www.lookers.co.uk</a>
<br /><br />


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" /></a></td>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VauxhallEmail" /></a></td>
    </tr>
    </table>
<br /><br />


<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />

    <br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Monday-Friday:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

Click here for offers: <br />
<br />
<a href="www.lookers.co.uk/vauxhall/offers/">www.lookers.co.uk/vauxhall/offers/</a><br />

</font>


</font>