<font face="calibri" size="3">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="right" valign="top">
                <img height="100" src="[f.lookers_logourl]" />
            </td>
        </tr>
    </table>
    Dear [c.lookers_title] [c.lastname],
    <br />
    <br />You will shortly be receiving, or may have already received, an email/postcard from [f.lookers_name] explaining that you have been
    selected for a special personalised offer. This means we are able to offer you a £1,000 bonus towards any new [f.lookers_name] until
    the end of MONTH.
    <br />
    <br />In addition if you take a test drive by the XXth of MONTH, you will qualify for an additional £500.
    <br />
    <br />The simplest way to take advantage of the offer and make sure you don't miss out on this unique opportunity, is to call
    in to see us so we can certify your eligibility and let you know the full details.
    <br />
    <br />I would be more than happy to arrange an appointment with one of our Sales Advisors at any of our dealerships at a time
    convenient to you. Please contact me on 01245 255352, or reply via email if you prefer.
    <br />
    <br />Alternatively, if you would like further information on the [f.lookers_name] range feel free to visit the [f.lookers_name] website directly.
    <br />
    <br />
    <a href="[f.lookers_manufacturerwebsite]">[f.lookers_manufacturerwebsite]</a>
    <br />
    <br />You can also visit the Lookers [f.lookers_name] website to check out our new and used car offers, where you will have access to over
    10,000 Approved Used vehicles in stock.
    <br />
    <br />
    <a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a>
    <br />
    <br />
    <strong>**We offer nationwide delivery and, subject to conditions, we can transfer cars between Lookers dealerships. There is
        a map of our dealership locations attached**</strong>
    <br />
    <br />I look forward to hearing from you soon.
    <br />
   <br />Kind regards,
  <br />
  <br />
  <strong>
    <span style="color: navy;">[cu.fullname]
      <br />[cu.title]
      <br />Business Development Centre
      <br />
      <span style="color: #999999;">Lookers PLC</span>
      <br /> Tel: [cu.address1_telephone1]
      <br /> Email:
      <a href="[cu.internalemailaddress]">[cu.internalemailaddress]</a>
      <br /> Website:
      <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
    </span>
  </strong>
  <br />
  <br />
  <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" />
  <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Keys.jpg" />
</font>