<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script type="text/javascript" src="lookers_spautils.js"></script>
    <script type="text/javascript">

        app.controller("CrmCustomerActionsButtonController", function ($scope, $http, CrmWebResourceAppUtils) {

            $scope.leadCount = "-";
            $scope.oppCount = "-";

            var params = CrmWebResourceAppUtils.getUrlParams();
            if (!params.Data) return;

            var counts = params.Data.split("|");
            $scope.leadCount = counts[0];
            $scope.oppCount = counts[1];

        });
    </script>
</head>
<body style="padding:0; margin:0;">
    <div ng-app="CrmWebResourceApp">
        <div ng-controller="CrmCustomerActionsButtonController">
            <span style="cursor: pointer; font-family: Segoe UI,Tahoma,Arial; font-size: 12px;" onclick="parent.Xrm.OpenCustomerHistory()" title="Other Leads: {{leadCount}}. Other Opportunities: {{oppCount}}. Click for more detail.">
                <span>Customer History</span>
                <img src="/_imgs/ico_16_4.gif" style="padding-left: 8px;vertical-align: middle"><span style="padding-left: 2px">{{leadCount}}</span>
                <img src="/_imgs/ico_16_3.gif" style="padding-left: 4px; vertical-align: middle"><span style="padding-left: 2px">{{oppCount}}</span>
            </span>
        </div>
    </div>
</body>
</html>