<font face="calibri" size="3">
Dear [c.lookers_title] [c.firstname] [c.lastname],
<br /><br />
Your Reference No. [lookers_refno]    
<br />

<br />Congratulations on being awarded a voucher from Vauxhall for a discount on a new [lookers_makeid] [lookers_rangeid] [lookers_modelid] [lookers_vehicleregistration]. My name is [ownerid] and my role is to help with any questions you may have regarding redeeming your voucher.<br />

<br />In order for me to help you if you are considering buying a new Vauxhall and would like to redeem your voucher, could you please reply with the answers to the following questions?<br />

<ol>
<li>Would you consider other vehicle model options?</li>
<li>Do you require a valuation for a part exchange?</li>
<li>How soon are you looking to purchase the vehicle?</li>
<li>Would you like to arrange a test drive?</li>
<li>Would you like me to arrange a finance quote for you?</li>
<li>If you are ready to redeem your voucher would you like to book an appointment with one of our Sales specialists?</li>
</ol>

<br />If you would like to contact me directly or would rather book an appointment with our Sales Specialist to discuss the above, please feel free to reply to this email or call me on [d.lookers_telephonenumberbdc] and I will be more than happy to help.<br />


    <font face="calibri" size="3">
<br />
<br />
Kind regards,<br />
<br /><br />
[ou.fullname]
<br /><br />
[ou.title]<br />

Lookers Sales Support Team
<br /><br />
[d.lookers_telephonenumberbdc]
    <br /><br />
[ou.internalemailaddress]
<br /><br />
<a href="www.lookers.co.uk">www.lookers.co.uk</a>
<br /><br />


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" /></a></td>
        <td><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/VauxhallEmail" /></a></td>
    </tr>
    </table>
<br /><br />


<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />

    <br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Monday-Friday:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

Click here for offers: <br />
<br />
<a href="www.lookers.co.uk/vauxhall/offers/">www.lookers.co.uk/vauxhall/offers/</a><br />

</font>


</font>