<font face="calibri" size="3">

    Dear [c.lookers_title] [c.lastname],<br />

    <br />Thank you for your enquiry regarding the [lookers_modelid] our [d.lookers_displayname]. I'd like to take this opportunity to compliment you on your choice of vehicle.<br />

<br />I'm keen to arrange a visit to our showroom for you where, in addition to enjoying a test drive, you can discuss pricing and how we can support you in funding any purchase. Our experienced team can also carry out a professional appraisal on your existing car should you wish to offer this in part exchange.<br />

<br />**ANSWER QUESTION HERE**<br />

<br />Lookers can support the funding of your vehicle in many ways; these could include <a href="http://www.lookers.co.uk/finance/pcp/">PCP</a>, <a href="http://www.lookers.co.uk/finance/hp/">HP</a>, and <a href="http://www.lookers.co.uk/finance/pch/">PCH</a>. Clicking any of the above links will provide you with an overview.<br />

<br />As a customer at Lookers you can enjoy dealing with locally managed dealerships that are connected nationally through our UK wide network. Lookers Group has grown through a combination of innovation and investment to offer one of the most modern retail experiences in the UK today. You can <a href="http://www.lookers.co.uk/reviews/">click here</a> to see how impressed other customers are with Lookers.<br />

<br />If you would like to book a test drive please reply directly to this email with a convenient date and time and I can arrange this for you. You can contact me by telephoning [d.lookers_telephonenumberbdc].<br />

<br />I look forward to speaking with you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
<br />

<img src="[f.lookers_logourl]" /><br />
<br />

<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />
Telephone: [d.lookers_telephonenumber]<br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Mon - Fri:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

<a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a><br />
<br />

<br />
<a href="[d.lookers_website]">Click here for directions to [d.lookers_displayname]</a><br />
<br />
</font>