<font face="calibri" size="3">
    Dear [c.firstname],
    <br />
    <br />Thank you for your enquiry regarding our [lookers_makeid] [lookers_modelid] [lookers_derivative] ([lookers_vehicleregistration])
    priced at [s.lookers_price].
    <br />
    <br />All used vehicles come with The Lookers Approved Package at
    <strong>
        <u>no extra cost</u>
    </strong>. This includes the following as standard to offer you peace of mind motoring:
    <ul>
        <li>Minimum of 12 months Warranty (where not already covered by manufacturer's warranty)</li>
        <li>Minimum of 12 months Vehicle Assist Recovery Service (where not already covered by manufacturer programme)</li>
        <li>Minimum of 9 months MOT</li>
        <li>No quibble 30 day exchange plan for added peace of mind (if you are not satisfied with your purchase for
            <strong>
                <u>ANY</u>
            </strong> reason within the first 30 days, we will exchange the vehicle)</li>
        <li>Multi-point Safety Inspection</li>
        <li>Vehicle Reconditioning</li>
        <li>Vehicle Mileage Check</li>
        <li>Vehicle History Check</li>
    </ul>
    As discussed, I have arranged an appointment for you on [lookers_requestedappointmentdate] to test drive the vehicle at our
    [f.lookers_name] Dealership in [d.lookers_townorcity]. Please ask for one of my managers when you arrive, either [d.lookers_salesmanagerid],
    or [d.lookers_salesmanager2id]. The dealership's address is:
    <blockquote>[d.lookers_displayname]
        <br />[d.lookers_addressline1]
        <br />[d.lookers_townorcity]
        <br />[d.lookers_postcode]</blockquote>
    You can reserve the car with just £100 deposit which is fully refundable, subject to a satisfactory viewing and test drive.
    This would guarantee the car is not sold before your appointment.
    <br />
    <br />Please feel free to let me know how your appointment goes and if you require any further assistance.
    <br />
    <br />We look forward to seeing you.
    <br />
    <br />Kind regards,
    <br />
</font>
<br />
<table>
    <tbody>
        <tr>
            <td width="160" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg">
            </td>
            <td valign="top">
                <strong>
                    <font face="arial" size="3" color="#888888">[cu.fullname]
                        <br />North East Head Office
                        <br />
                        <font color="#336699">Tel:</font>
                        [cu.address1_telephone1]
                    </font>
                    <br />
                    <br />
                    <font face="arial" size="2">
                        <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
                    </font>
                </strong>
            </td>
        </tr>
    </tbody>
</table>