<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />My name is [cu.fullname] and I am a Sales Advisor for Lookers [d.lookers_displayname].<br />
    <br />I have tried to contact you today for your End of Contract Review that's required for your [p.lookers_rangeid].<br />
    <br />As a valued customer, we would like to provide you with everything you need to know regarding the end of your contract which is fast approaching.<br />
    <br />We are hoping that you'd like to stay with [d.lookers_displayname], and as such during our conversation I can guide you through the range and ensure that we tailor your next vehicle to match your individual needs.<br />
    <br />I have arranged a follow up call for later today/ tomorrow at TIME. I hope this is a convenient time but if it isn't then please let me know when is better for you.<br />
    <br />Alternatively, please feel free to contact me on [d.lookers_telephonenumberbdc] or by return email CENTRAL INBOX.<br />
    <br />I look forward to speaking with you soon. <br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Business Development Centre<br />
Mercedes-Benz and Smart<br />
Tel: [d.lookers_telephonenumberbdc]<br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer1.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer2.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer3.png" /><br />
</font>