<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />My name is [cu.fullname] and I am a Sales Advisor for Lookers [d.lookers_displayname].<br />
    <br />Thank you for your recent enquiry regarding our our [lookers_makeid] [lookers_rangeid] [lookers_modelid], [lookers_vehicleregistration].<br />
    <br />The [lookers_rangeid] is a great choice of vehicle and I would love to discuss the vehicle in more detail with you.<br />
    <br />I've been trying to reach you for the last few days/hours and I haven't been able to get hold of you.<br />
    <br />I've left a few messages and emails, but unfortunately I've not heard back from you. I hope we have the correct contact information.<br />
    <br />Please can I ask you contact me on [d.lookers_telephonenumberbdc] or alternatively by replying to this email.<br />
    <br />I look forward to speaking with you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Lookers Mercedes-Benz<br />
T: [d.lookers_telephonenumberbdc]<br />
<br /><img height=63 src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo1.png" />
<br /><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo2.png" />
<br /><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo3.png" />
</font>