<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />My name is [cu.fullname] and I am a Sales Advisor for Lookers [d.lookers_displayname].<br />
    <br />Thank you for your recent enquiry regarding our [lookers_makeid] [lookers_rangeid] [lookers_modelid], [lookers_vehicleregistration].<br />
    <br />The [lookers_rangeid] is a great choice and so I have tried to get in contact on the details you provided to go through the highlights and specification in more detail but I haven't managed to get in contact as of yet.<br />
    <br />I have arranged to give you a call later today/tomorrow at TIME. If this isn't convenient for you could you please let me know by way or return email or call on [d.lookers_telephonenumberbdc].<br />
    <br />I look forward to speaking with you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Business Development Centre<br />
Mercedes-Benz and Smart<br />
Tel: [d.lookers_telephonenumberbdc]<br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer1.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer2.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer3.png" /><br />
</font>