<font face="calibri" size="3">

    Dear [c.lookers_title] [c.lastname],<br />

    <br />Thank you for your enquiry regarding [lookers_modelid] at our [d.lookers_displayname] dealership. I'd like to take this opportunity to compliment you on your choice of vehicle.<br />

<br />I'm keen to arrange a visit to our showroom for you where, in addition to enjoying a test drive, you can discuss pricing and how we can support you in funding any purchase. Our experienced team can also carry out a professional appraisal on your existing car should you wish to offer this in part exchange.<br />

<br />XXX WHERE THE CUSTOMER HAS ASKED A SPECIFIC QUESTION - PLEASE ANSWER HERE XXX INSERT REP EXAMPLE IF AVAILABLE.<br />
<br />Please <a href="http://www.lookers.co.uk/volkswagen/new-offers/">click here</a> to see our current Lookers Volkswagen new vehicle offers. Further details can be found on the full Volkswagen range by <a href="http://www.volkswagen.co.uk/">clicking here</a>.<br />

<br />I thought you'd also like to know that all our new cars come with the Volkswagen Warranty which includes:<br />
<ul>
<li>Two year manufacturer warranty with unlimited mileage - plus an extra year retailers warranty.</li>
<li>Three year paint warranty (Terms and Conditions apply).</li>
<li>One year Volkswagen Home and Roadside Assistance (Terms and Conditions apply).</li>
</ul>

<br />Clicking <a href="https://www.youtube.com/user/UKVolkswagen">here</a> will take you to the Volkswagen YouTube channel where you can learn about Safe Distance Technology, our latest vehicles and other technology - you can even see our latest TV advertisement.<br />

<br />As a customer at Lookers you can enjoy dealing with locally managed dealerships that are connected nationally through our UK wide network. Lookers Group has grown through a combination of innovation and investment to offer one of the most modern retail experiences in the UK today.<br />

<br />If you would like to book a test drive please reply directly to this email with a convenient date and time and I can arrange this for you. You can contact me by telephoning [d.lookers_telephonenumberbdc].<br />

<br />I look forward to speaking with you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
<br />

<img src="[f.lookers_logourl]" /><br />
<br />

<strong>[d.lookers_displayname]</strong><br />
[d.lookers_dealershipaddress]<br />
Telephone: [d.lookers_telephonenumber]<br />
<br />

Opening Hours:<br />
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Mon - Fri:&nbsp;</td>
        <td>[d.lookers_openinghourstextmonday]</td>
    </tr>
    <tr>
        <td>Saturday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsaturday]</td>
    </tr>
    <tr>
        <td>Sunday:&nbsp;</td>
        <td>[d.lookers_openinghourstextsunday]</td>
    </tr>
</table>
<br />

<a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a><br />
<br />

<br />
<a href="[d.lookers_website]">Click here for directions to [d.lookers_displayname]</a><br />
<br />
</font>