﻿<font face="calibri" size="3">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="right" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/AudiRings.jpg">
            </td>
        </tr>
    </table>
    Dear [c.lookers_title] [c.lastname],
    <br />
    <br />I’ve not managed to make contact with you regarding your [lookers_makeid] [lookers_modelid] enquiry and I’m
    keen not to overwhelm you with messages.
    <br />
    <br />I would be delighted to help you further with your enquiry and will leave you with my contact details below. In the
    meantime, I shall close off my communication until we hear from you again.
    <br />
    <br />You can contact me directly on [d.lookers_telephonenumber] (select option for New or Used sales enquiries) or reply to my email at your convenience, I look forward to hearing from
    you in the future.
    <br />
    <br />Yours sincerely,
    <br />
    <br /><strong>[cu.fullname]</strong>
    <br />
    <br />Audi Sales Support
    <br />
    <br />E:
    <a href="mailto: [cu.internalemailaddress]">[cu.internalemailaddress]</a>
    <br />
    <br />
    <a href="http://www.Lookers.co.uk/Audi">www.Lookers.co.uk/Audi</a>
    <br />
    <br />[d.lookers_displayname], [d.lookers_dealershipaddress], UK T: [d.lookers_telephonenumber] (select option for New or Used sales enquiries)
</font>