﻿<font face="calibri" size="3">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="right" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/AudiRings.jpg">
            </td>
        </tr>
    </table>
    Dear [c.lookers_title] [c.lastname],
    <br />
    <br />

    <strong>Confirmation of Appointment</strong>
    <br />
    <br />Many thanks for your recent enquiry.
    <br />
    <br />As you know, I have provisionally booked your appointment at [d.lookers_displayname], [d.lookers_dealershipaddress], on [lookers_requestedappointmentdate].
    <br />
    <br />You will shortly receive a call from the sales executive at the Centre who will be looking after you to introduce themselves
    and also confirm that the car is available and that the time is still suitable. Until then, your appointment is provisional.
    <br />
    <br />Please remember to bring along your driver’s licence and national insurance number for any test drives.
    <br />
    <br />By all means if there is anything else you need in the meantime, then please do not hesitate to contact me at our Audi
    Sales Support Centre on [d.lookers_telephonenumber] (select option for New or Used sales enquiries).
    <br />
    <br />Yours sincerely,
    <br />
    <br /><strong>[cu.fullname]</strong>
    <br />
    <br />Audi Sales Support
    <br />
    <br />E:
    <a href="mailto: [cu.internalemailaddress]">[cu.internalemailaddress]</a>
    <br />
    <br />

    <a href="http://www.Lookers.co.uk/Audi">www.Lookers.co.uk/Audi</a>
    <br />
    <br />[d.lookers_displayname], [d.lookers_dealershipaddress], T: [d.lookers_telephonenumber] (select option for New or Used sales enquiries)
</font>