﻿<font face="calibri" size="3">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="right" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/AudiRings.jpg">
            </td>
        </tr>
    </table>
    Dear [c.lookers_title] [c.lastname],
    <br />
    <br />INSERT YOUR MESSAGE HERE.
    <br />
    <br />Yours sincerely,
    <br />
    <br /><strong>[cu.fullname]</strong>
    <br />
    <br />Audi Sales Support
    <br />
    <br />E:
    <a href="mailto: [cu.internalemailaddress]">[cu.internalemailaddress]</a>
    <br />
    <br />
    <a href="http://www.Lookers.co.uk/Audi">www.Lookers.co.uk/Audi</a>
    <br />
    <br />[d.lookers_displayname], [d.lookers_dealershipaddress], UK T: [d.lookers_telephonenumber] (select option for New or Used sales enquiries)
</font>