<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />My name is [cu.fullname] and I am a Sales Advisor for Lookers [d.lookers_displayname].<br />
    <br />Thank you for your enquiry regarding the [lookers_rangeid] that we have advertised at [d.lookers_displayname].<br />
    <br />This is a great choice of vehicle which is currently still available. As such I will be giving you a call this morning/afternoon to discuss it in more detail and answer any questions you have.<br />
    <br />I have diarised a call at TIME so that I can answer any questions that you may have and arrange a test drive for you should you desire one.<br />
    <br />If this time isn't convenient then please feel free to contact me at a better time on [d.lookers_telephonenumberbdc].<br />
    <br />I look forward to speaking with you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Business Development Centre<br />
Mercedes-Benz and Smart<br />
Tel: [d.lookers_telephonenumberbdc]<br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer1.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer2.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer3.png" /><br />
</font>