<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />Thank you for your time this morning/afternoon, it was great speaking with you. The [lookers_rangeid] with OPTIONS you've picked out really is an excellent choice and one of my favourites.<br />
    <br />As discussed, we're looking forward to meeting you at the appointment which has been confirmed and booked in here with my colleague at [d.lookers_displayname] on on [lookers_requestedappointmentdate].<br />
    <br />You'll just need your photo card driver's licence and a note of your national insurance number, in order to test drive the vehicle.<br />
    <br />We look forward to seeing you this afternoon/tomorrow at [d.lookers_displayname] where I hope that you find what you're looking for in the [lookers_rangeid] and we surpass your expectations.<br />
    <br />If at any time you find you need to amend your appointment or you have any questions, please let me know at your earliest convenience by return email or on [d.lookers_telephonenumberbdc].<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Business Development Centre<br />
Mercedes-Benz and Smart<br />
Tel: [d.lookers_telephonenumberbdc]<br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer1.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer2.png" /><br />
<br /><img height="150" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBOffer3.png" /><br />
</font>