<font face="calibri" size="3">

    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />My name is [cu.fullname] and I am a Sales Advisor for Lookers [d.lookers_displayname].<br />
    <br />We have received your enquiry regarding our [lookers_makeid] [lookers_rangeid] [lookers_modelid], [lookers_vehicleregistration]. Thank you for submitting this.<br />
    <br />The [lookers_rangeid] is a great choice of vehicle and I would love to discuss the vehicle in more detail with you.<br />
    <br />Would you like to arrange an appointment with one of our sales executives to view and test drive the vehicle?<br />
    <br />I will call you this morning/afternoon and I will be able to answer any questions that you may have then.<br />
    <br />Alternately please feel free to contact me at a convenient time on [d.lookers_telephonenumberbdc] or by replying to this email.<br />
    <br />I look forward to speaking with you soon.<br />

    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Lookers Mercedes-Benz<br />
T: [d.lookers_telephonenumberbdc]<br />
<br /><img height=63 src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo1.png" />
<br /><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo2.png" />
<br /><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo3.png" />
</font>