<font face="calibri" size="3">
    Good Morning/Afternoon [c.lookers_title] [c.lastname],<br />
    <br />YOUR MESSAGE HERE.<br />
    <br />
<br />
Kind regards,<br />
<br />
<strong>[cu.fullname]</strong><br />
[cu.title]<br />
Lookers Mercedes-Benz<br />
T: [d.lookers_telephonenumberbdc]<br />
<br /><img height=63 src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo1.png" />
<br /><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo2.png" />
<br /><img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/MBLogo3.png" />
</font>