﻿<font face="calibri" size="3">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="right" valign="top">
        <img height="100" src="[f.lookers_logourl]" />
      </td>
    </tr>
  </table>
  Dear [c.lookers_title] [c.lastname],
  <br />
  <br />Thank you for contacting Lookers regarding your vehicle valuation. Below are the details of the estimated value of your
  vehicle.
  <br />
  <br />The valuation that I can offer you is only a guideline, and we would not be able to confirm the price until a Sales Advisor
  has carried out a more in depth appraisal at one of our Dealerships.
  <br />
  <br />  
  <table border="1" cellpadding="0" cellspacing="0">
    <tr>
      <th align="left">Registration:</th>
      <td>[p.lookers_registrationnumber]</td>
    </tr>
    <tr>
      <th align="left">Make:</th>
      <td>[p.lookers_makeid]</td>
    </tr>
    <tr>
      <th align="left">Model:</th>
      <td>[p.lookers_modelid]</td>
    </tr>
    <tr>
      <th align="left">Mileage:</th>
      <td>xx,xxx</td>
    </tr>
    <tr>
      <th align="left">Condition (1 – 10):</th>
      <td>xx</td>
    </tr>
    <tr>
      <th align="left">Valuation:</th>
      <td>£x,xxx</td>
    </tr>
  </table>
  <br />
  <em>(Again I would like to stress that this is only a guide price based on the information you provided and would need to be
    viewed in person.)</em>
  <br />
  <br />We would like to invite you into our [d.lookers_displayname] showroom to complete a more in depth appraisal of your
  vehicle. While you are with us, we can also provide any further information you may need.
  <br />
  <br />Perhaps you are looking to part exchange your [p.lookers_makeid] [p.lookers_modelid] for a newer vehicle? If so, we would
  be happy to arrange a test drive in one of our vehicles.
  <br />
  <br />So that we are able to assist you and the best options are made available to you, please contact me on 01245 255352, or
  reply via email if you prefer. Alternatively, if I don't hear from you I will attempt to contact you again over the next
  few days.
  <br />
  <br />You can also visit the Lookers [f.lookers_name] website to check out our New and Used car offers, where you will have access
  to over 10,000 Approved Used vehicles in stock.
  <br />
  <br />
  <a href="[f.lookers_franchisewebsite]">[f.lookers_franchisewebsite]</a>
  <br />
  <br />Alternatively, if you would like further information on the [f.lookers_name] range feel free to visit the [f.lookers_name]
  website directly.
  <br />
  <br />
  <a href="[f.lookers_manufacturerwebsite]">[f.lookers_manufacturerwebsite]</a>
  <br />
  <br />
  <strong>**We offer nationwide delivery and, subject to conditions, we can transfer cars between Lookers dealerships. There is a
    map of our dealership locations attached**</strong>
  <br />
  <br />I look forward to hearing from you soon.
  <br />
  <br />Kind regards,
  <br />
  <br />
  <strong>
    <span style="color: navy;">[cu.fullname]
      <br />[cu.title]
      <br />Business Development Centre
      <br />
      <span style="color: #999999;">Lookers PLC</span>
      <br />Tel: [cu.address1_telephone1]
      <br />Email:
      <a href="[cu.internalemailaddress]">[cu.internalemailaddress]</a>
      <br />Website:
      <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
    </span>
  </strong>
  <br />
  <br />
  <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg" />
  <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Keys.jpg" />
</font>