﻿<font face="calibri" size="3">
    Dear [c.firstname],
    <br />
    <br />I am happy to confirm that our [lookers_makeid] [lookers_modelid] ([lookers_vehicleregistration])
    has been reserved for you and taken off sale.
    <br />
    <br />The figures we have agreed are below:
    <br />
    <br />INSERT DETAIL HERE
    <br />
    <br />Please find attached some information on our value added products for your perusal.
    <br />
    <br />One of my colleagues from the dealership will contact you shortly with a quick introduction and to run through these
    options in more detail. Don't forget, we also offer a range of finance solutions tailored to your individual requirements.
    <br />
    <br />Kind regards,
    <br />
</font>
<br />
<table>
    <tbody>
        <tr>
            <td width="160" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg">
            </td>
            <td valign="top">
                <strong>
                    <font face="arial" size="3" color="#888888">[cu.fullname]
                        <br />North East Head Office
                        <br />
                        <font color="#336699">Tel:</font>
                        [cu.address1_telephone1]
                    </font>
                    <br />
                    <br />
                    <font face="arial" size="2">
                        <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
                    </font>
                </strong>
            </td>
        </tr>
    </tbody>
</table>