﻿<font face="calibri" size="3">
    Dear [c.firstname],
    <br />
    <br />It's been a little while now since we received your enquiry and we were just wondering if you have managed to find your
    ideal vehicle?
    <br />
    <br />Please do not hesitate to contact us if we can be of further assistance.
    <br />
    <br />We have some great new vehicle offers and remember we supply all used vehicles with up to £600 worth of
    <strong>
        <u>FREE</u>
    </strong>benefits which include:
    <br />
    <ul>
        <li>Minimum of 12 months Warranty (where not already covered by manufacturer's warranty)</li>
        <li>Minimum of 12 months Vehicle Assist Recovery Service (where not already covered by manufacturer programme)</li>
        <li>Minimum of 9 months MOT</li>
        <li>No quibble 30 day exchange plan for added peace of mind (if you are not satisfied with your purchase for
            <strong>
                <u>ANY</u>
            </strong> reason within the first 30 days, we will exchange the vehicle)</li>
        <li>Multi-point Safety Inspection</li>
        <li>Vehicle Reconditioning</li>
        <li>Vehicle Mileage Check</li>
        <li>Vehicle History Check</li>
    </ul>
    <h4><u>Lookers Transparent Pricing Policy</u></h4>
    <strong>
        <ul>
            <li>You can buy with confidence. The internet makes car buying more transparent, this is why we check our prices
                daily to ensure we are extremely competitive. You can be confident that you are getting the best value for
                your money.</li>
            <li>With our price promise, should you find a similar new or used car for less within 14 days of purchase we will
                refund the difference.</li>
            <li> Find the same car for less and Lookers will refund the difference. </li>
        
        </ul>
    </strong>
    <font size="4">
        <strong>**We offer nationwide delivery and subject to conditions and we can transfer cars between Lookers dealerships**</strong>
    </font>
    <br />
    <br />Please visit our new website for over 10,000 used vehicles and over 100 new vehicle offers:
    <br />
    <a href="http://www.lookers.co.uk">www.lookers.co.uk</a>
    <br />
    <br />I look forward to hearing from you soon.
    <br />
    <br />Kind regards,
    <br />
</font>
<br />
<table>
    <tbody>
        <tr>
            <td width="160" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg">
            </td>
            <td valign="top">
                <strong>
                    <font face="arial" size="3" color="#888888">[cu.fullname]
                        <br />North East Head Office
                        <br />
                        <font color="#336699">Tel:</font>
                        [cu.address1_telephone1]
                    </font>
                    <br />
                    <br />
                    <font face="arial" size="2">
                        <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
                    </font>
                </strong>
            </td>
        </tr>
    </tbody>
</table>