﻿<font face="calibri" size="3">
    Dear [c.firstname],
    <br />
    <br />Thank you for your enquiry regarding a new [lookers_makeid] [lookers_modelid].
    <br />
    <br />This is a great choice of vehicle and we have an extensive range of engines and specifications available to view and
    test drive at the dealership.
    <br />
    <br />We would just like to introduce ourselves as your local [d.lookers_franchiseid] dealership at [d.lookers_dealershipaddress].
    We are open seven days a week for your convenience. Please feel free to call my Sales Manager, [d.lookers_salesmanagerid]
    on [d.lookers_telephonenumber], who will be more than happy to help organise a test drive for you.
    <br />
    <br />If it is easier you can always call into the branch at your convenience. You will find a map and a route planner for
    directions to the dealership on our website:
    <a href="[d.lookers_website]">[d.lookers_displayname] details</a>
    <br />
    <br />If you would like further information on the [d.lookers_franchiseid] range feel free to visit their website:
    <br />
    <br />
    <a href="[f.lookers_manufacturerwebsite]">[f.lookers_name] website</a>
    <br />
    <br />Alternatively if you want to check out Lookers' New and Used car offers, please visit the Lookers website:
    <br />
    <br />
    <a href="http://www.lookers.co.uk/">Lookers website</a>
    <br />
    <br />With a new Nissan you will receive the fantastic benefits of You+Nissan:
    <br />
    <br />
    <img src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/You%2BNissan.png" />
    <br />
    <br />I have attached a copy of our Terms of Business for your information.
    <br />
    <br />How can I help you take your enquiry forward? Can I arrange an appointment at [d.lookers_displayname],
    so you can view and drive a [lookers_makeid] [lookers_modelid]?
    <br />
    <br />I look forward to hearing from you.
    <br />
    <br />
    <img height="50" src="[f.lookers_logourl]">
    <br />
    <br />Kind regards,
    <br />  
</font>
<br />
<table>
    <tbody>
        <tr>
            <td width="160" valign="top">
                <img height="50" src="https://lksazcrmcorpstor01.blob.core.windows.net/logos/Lookers.jpg">
            </td>
            <td valign="top">
                <strong>
                    <font face="arial" size="3" color="#888888">[cu.fullname]
                        <br />North East Head Office
                        <br />
                        <font color="#336699">Tel:</font>
                        [cu.address1_telephone1]
                    </font>
                    <br />
                    <br />
                    <font face="arial" size="2">
                        <a href="http://www.lookers.co.uk/">www.lookers.co.uk</a>
                    </font>
                </strong>
            </td>
        </tr>
    </tbody>
</table>